<p-table [value]="dbPropertyConfigs" [scrollable]="true" scrollHeight="1000px">
  <ng-template pTemplate="body" let-dbPropertyConfig>
    <tr>
      <td style="width: 500px;">
        {{ dbPropertyConfig.key }}
      </td>
      @if (dbPropertyConfig.dbPropertyType === AUDIO) {
        <td style="width: 300px;">
          AUDIO
        </td>
      }
      @if (dbPropertyConfig.dbPropertyType === BABYLON_MATERIAL) {
        <td style="width: 300px;">
          <babylon-material [(babylonMaterialId)]="dbPropertyConfig.intValue"></babylon-material>
        </td>
      }
      @if (dbPropertyConfig.dbPropertyType === INTEGER) {
        <td style="width: 300px;">
          <p-inputNumber inputId="integeronly" [(ngModel)]="dbPropertyConfig.intValue"></p-inputNumber>
        </td>
      }
      @if (dbPropertyConfig.dbPropertyType === DOUBLE) {
        <td style="width: 300px;">
          <p-inputNumber [(ngModel)]="dbPropertyConfig.doubleValue"></p-inputNumber>
        </td>
      }
      @if (dbPropertyConfig.dbPropertyType === COLOR) {
        <td style="width: 300px;">
          COLOR
        </td>
      }
      @if (dbPropertyConfig.dbPropertyType === IMAGE) {
        <td style="width: 300px;">
          <image-item [(imageId)]="dbPropertyConfig.intValue"></image-item>
        </td>
      }
      @if (dbPropertyConfig.dbPropertyType === UNKNOWN) {
        <td style="width: 300px;">
          UNKNOWN
        </td>
      }
      <td style="width: 50px;">
        <p-button icon="pi pi-save" title="Save" (onClick)="onSave(dbPropertyConfig)">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
