<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th>User</th>
    <th>Session</th>
    <th>Session time</th>
    <th>Multiplayer Planet</th>
    <th>Error</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let onlineInfo of onlineInfos">
    <td>{{ onlineInfo.time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
    <td>{{ onlineInfo.duration | duration}}</td>
    <td>
      <a *ngIf="onlineInfo.humanPlayerId" routerLink="/humanplayer/{{ onlineInfo.humanPlayerId.playerId }}" target="_blank">{{ getUserState(onlineInfo)
        }}</a>
    </td>
    <td>
      <a *ngIf="onlineInfo.sessionId" routerLink="/session/{{ onlineInfo.sessionId }}" target="_blank">{{
        onlineInfo.sessionId }}</a>
    </td>
    <td>{{ onlineInfo.sessionTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
    <td>
      <table *ngIf="onlineInfo.multiplayerPlanet">
        <tr>
          <td>{{ onlineInfo.multiplayerPlanet }}</td>
          <td>{{ onlineInfo.multiplayerDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td>{{ onlineInfo.multiplayerDuration | duration}}</td>
        </tr>
      </table>
    </td>
    <td>
      <div [ngSwitch]="onlineInfo.type">
        <div *ngSwitchCase="'NORMAL'"></div>
        <div *ngSwitchCase="'ORPHAN'" style="background-color: #ffb8b8">No system connection found</div>
        <div *ngSwitchCase="'EXCEPTION'" style="background-color: #ffb8b8">Exception</div>
        <div *ngSwitchCase="'NO_SESSION'" style="background-color: #ffb8b8">No http session</div>
        <div *ngSwitchCase="'UNKNOWN'" style="background-color: #ffb8b8">No game session id</div>
        <div *ngSwitchDefault style="background-color: #ffb8b8">Unknown type: {{ onlineInfo.type}}</div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<button (click)="onUpdate()">Update</button> Last loaded: {{ lastLoaded | date:'dd.MM.yyyy HH:mm:ss'}}
<br>
{{ lastError }}
