<div class="flexbox-parent">
  <div class="flexbox-current">
    <div class="flexbox-current-child simple-border">
      <h2>Online</h2>
    </div>
    <div class="flexbox-current-child simple-border">
      <h2>Session History</h2>
      <session-history></session-history>
    </div>
  </div>
  <div class="simple-border">
    <h2>Mgmt</h2>
    <ul>
      <li><a href="user">Users</a></li>
      <li><a routerLink="/backuprestore" routerLinkActive="active">Backup/Restore</a></li>
    </ul>
    <h2>Config</h2>
    <div>Planets</div>
    <div>Marketing</div>
  </div>
</div>
