<div style="width: 40em">
  <div class="grid grid-razarion-editor">
    <span class="col-4">Id</span>
    <div class="col-8">
      <p-inputNumber [disabled]="true" [(ngModel)]="groundConfig.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Internal name</span>
    <div class="col-8">
      <input [(ngModel)]="groundConfig.internalName" type="text"
             class="text-base text-color bg-primary-reverse p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Ground material</span>
    <div class="col-8">
      <babylon-material [(babylonMaterialId)]="groundConfig.groundBabylonMaterialId"></babylon-material>    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Water material</span>
    <div class="col-8">
      <babylon-material [(babylonMaterialId)]="groundConfig.waterBabylonMaterialId"></babylon-material>    </div>
  </div>
</div>
