<div style="width: 40em">
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Id</span>
    <div class="col-span-8">
      <p-inputNumber [disabled]="true" [(ngModel)]="babylonMaterialEntity.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Internal name</span>
    <div class="col-span-8">
      <input [(ngModel)]="babylonMaterialEntity.internalName" type="text"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <p-divider align="left">
    <div class="inline-flex items-center">
      <i class="pi pi-sitemap mr-2"></i>
      <b>Node material</b>
    </div>
  </p-divider>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Node material</span>
    <div class="col-span-8">
      <p-checkbox [(ngModel)]="babylonMaterialEntity.nodeMaterial" [binary]="true"></p-checkbox>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Diplomacy color node</span>
    <div class="col-span-8">
      <input [(ngModel)]="babylonMaterialEntity.diplomacyColorNode" type="text"
             [disabled]="!babylonMaterialEntity.nodeMaterial"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Override albedo texture node</span>
    <div class="col-span-8">
      <input [(ngModel)]="babylonMaterialEntity.overrideAlbedoTextureNode" type="text"
             [disabled]="!babylonMaterialEntity.nodeMaterial"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Override bump texture node</span>
    <div class="col-span-8">
      <input [(ngModel)]="babylonMaterialEntity.overrideBumpTextureNode" type="text"
             [disabled]="!babylonMaterialEntity.nodeMaterial"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Override ambient occlusion texture node</span>
    <div class="col-span-8">
      <input [(ngModel)]="babylonMaterialEntity.overrideAmbientOcclusionTextureNode" type="text"
             [disabled]="!babylonMaterialEntity.nodeMaterial"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Override metallic texture node</span>
    <div class="col-span-8">
      <input [(ngModel)]="babylonMaterialEntity.overrideMetallicTextureNode" type="text"
             [disabled]="!babylonMaterialEntity.nodeMaterial"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <p-divider align="left">
    <div class="inline-flex items-center">
      <i class="pi pi-file-import mr-2"></i>
      <b>Import</b>
    </div>
  </p-divider>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Import material</span>
    <div class="col-span-8">
      <p-fileUpload #fileUploadElement chooseLabel="Choose..." chooseIcon="pi pi-folder-open" mode="basic"
                    styleClass="p-button-sm" [auto]=true [customUpload]=true (uploadHandler)="onImportMaterial($event)">
      </p-fileUpload>
    </div>
  </div>

  <p-divider align="left">
    <div class="inline-flex items-center">
      <i class="pi pi-cloud-upload mr-2"></i>
      <b>Edit selected</b>
    </div>
  </p-divider>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Selected material</span>
    <div class="col-span-8">
      <span>{{ selectedMaterial?.name }}</span>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Selected material type</span>
    <div class="col-span-8">
      <span>{{ selectedMaterial?.getClassName() }}</span>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Upload selected material</span>
    <div class="col-span-8">
      <p-button icon="pi pi-upload" (onClick)="uploadSelectedMaterial()"></p-button>
    </div>
  </div>

  <p-divider align="left">
    <div class="inline-flex items-center">
      <i class="pi pi-cloud-upload mr-2"></i>
      <b>Download all materials</b>
    </div>
  </p-divider>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Material to zip</span>
    <div class="col-span-8">
      <p-button type="button" icon="pi pi-cart-arrow-down" styleClass="p-button-sm"
                (onClick)="onCollectAll()"></p-button>
      &nbsp;
      <p-button type="button" icon="pi pi-save" styleClass="p-button-sm" [disabled]="!allBabylonMaterials"
                (onClick)="onDownloadAll()"></p-button>
    </div>
  </div>
</div>
