<div class="homePageMain">
  <div class="homePageMiddle">
    <div class="homePageMiddleCenter">
      <div id="fb-root"></div>
      <div class="fbButton">
        <table>
          <tr>
            <td class="cell">
              <!--  See: com/btxtech/client/dialog/common/RegisterDialog.html -->
              <div class="fb-login-button" data-size="large" data-button-type="continue_with"></div>
            </td>
          </tr>
          <tr>
            <td class="cell">
              <button (click)="onPlay()">Spielen</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
