.errai/
.gwt/
.idea/
razarion.iml
target/
razarion-ui-service/razarion-ui-service.iml
razarion-dev-tools/razarion-dev-tools.iml
razarion-server/razarion-server.iml
razarion-server/src/main/webapp/razarion_client
razarion-server/src/main/webapp/razarion_client_worker
razarion-server/src/main/webapp/debug
razarion-server/src/main/webapp/WEB-INF/deploy
razarion-server/src/main/angular/backend/node_modules/
razarion-server/src/main/webapp/marketinghist/node_modules/
razarion-server/src/main/gwt-unitCache
razarion-share/razarion-share.iml
razarion-test/razarion-test.iml
razarion-client/razarion-client.iml
razarion-client-worker/razarion-client-worker.iml
razarion-client-common/razarion-client-common.iml


