<div class="p-d-flex" [style]="{height:'100%', width:'100%'}">
  <div #canvasDiv class="p-order-2" style="height: 100%; width: 100%; position: relative; margin: 0">
    <canvas #canvas></canvas>
  </div>
  <div class="p-order-1" *ngFor="let editorModel of editorModels" style="margin-right: 0 !important">
    <app-editor-panel [editorModel]="editorModel" [gameComponent]="getGameComponent()" [mainCockpitComponent]="mainCockpit"></app-editor-panel>
  </div>
</div>

<p-sidebar [appendTo]="canvasDiv" [visible]="mainCockpit.showCockpit" [modal]="false" [showCloseIcon]="false"
           [style]="{height:'auto', width:'auto', position: 'absolute'}">
  <main-cockpit #mainCockpit></main-cockpit>
</p-sidebar>

<p-sidebar [appendTo]="canvasDiv" [visible]="itemCockpitContainer.showCockpit" [modal]="false" [showCloseIcon]="false"
           position="bottom"
           [style]="{height:'auto', width:'auto', position: 'absolute'}">
  <item-cockpit #itemCockpitContainer></item-cockpit>
</p-sidebar>

<p-dialog header="Editor" [(visible)]="mainCockpit.editorDialog" (onShow)="editorDialogComponent.onShow()">
  <editor-dialog #editorDialogComponent [mainCockpitComponent]="mainCockpit"
                 [gameComponent]="getGameComponent()"></editor-dialog>
</p-dialog>

