<div class="flex card-container overflow-hidden align-items-stretch" [style]="{height:'100%'}">
  <div #canvasDiv>
    <canvas #canvas [style]="{height:'100%'}"></canvas>
  </div>
  <div class="flex-none flex align-items-center justify-content-center" *ngFor="let editorModel of editorModels">
    <app-editor-panel [editorModel]="editorModel" [gameComponent]="getGameComponent()"
                      [mainCockpitComponent]="mainCockpit" [style]="{height:'100%'}"></app-editor-panel>
  </div>
</div>

<p-sidebar [appendTo]="canvasDiv" [visible]="mainCockpit.showCockpit" [modal]="false" [showCloseIcon]="false"
           [style]="{height:'auto', width:'auto', position: 'absolute'}">
  <main-cockpit #mainCockpit></main-cockpit>
</p-sidebar>

<p-sidebar [appendTo]="canvasDiv" [visible]="itemCockpitContainer.showCockpit" [modal]="false" [showCloseIcon]="false"
           position="bottom"
           [style]="{height:'auto', width:'auto', position: 'absolute'}">
  <item-cockpit #itemCockpitContainer></item-cockpit>
</p-sidebar>

<p-dialog header="Editor" [(visible)]="mainCockpit.editorDialog" (onShow)="editorDialogComponent.onShow()">
  <editor-dialog #editorDialogComponent [mainCockpitComponent]="mainCockpit"
                 [gameComponent]="getGameComponent()"></editor-dialog>
</p-dialog>

