<p-divider align="left">
  <div class="inline-flex align-items-center">
    <i class="pi pi-plus-circle mr-2"></i>
    <b>New</b>
  </div>
</p-divider>
<div class="field grid align-items-center">
  <span class="col">Terrain Object</span>
  <div class="col">
    <p-dropdown [options]="slopeConfigs"
                [(ngModel)]="newSlopeConfigId">
    </p-dropdown>
  </div>
</div>
<div class="field grid align-items-center">
  <span class="col">Mouse</span>
  <div class="col">
    <p-selectButton [options]="onOffOptions" [(ngModel)]="newSlopeMode" optionLabel="label"
                    optionValue="value"></p-selectButton>
  </div>
</div>

<p-divider align="left">
  <div class="inline-flex align-items-center">
    <i class="pi pi-cog mr-2"></i>
    <b>Edit</b>
  </div>
</p-divider>

<div class="field grid align-items-center">
  <span class="col">selectedTerrainSlopePosition</span>
  <div class="col">
    {{selectedTerrainSlopePosition}}
  </div>
</div>

<div class="field grid align-items-center">
  <span class="col">selectedTerrainSlopePolygon</span>
  <div class="col">
    <span *ngIf="selectedTerrainSlopePolygon">{{selectedTerrainSlopePolygon.length}} corners</span>
  </div>
</div>

<div class="field grid align-items-center">
  <span class="col">selectedTerrainSlopeMesh</span>
  <div class="col">
    {{selectedTerrainSlopeMesh}}
  </div>
</div>
