<p-tabView styleClass="tabview-custom">
  <p-tabPanel header="Terrain Objects">
    <table style="border-spacing: 0; border-collapse: separate; margin: 5px">
      <tr>
        <td>New Terrain Object</td>
        <td>
          <p-dropdown [options]="terrainObjectConfigs"
                      [(ngModel)]="selectedTerrainObjectConfig"
                      optionLabel="name"></p-dropdown>
        </td>
      </tr>
      <tr>
        <td>Selection</td>
        <td>{{selectedTerrainObjectInfo}}</td>
      </tr>
      <tr>
        <td colspan="2"><terrain-object-position #terrainObjectPosition></terrain-object-position></td>
      </tr>
    </table>
  </p-tabPanel>
</p-tabView>

<p-button type="button"
          label="Save"
          icon="pi pi pi-save"
          styleClass="p-button-sm"
          (onClick)="save()"></p-button>
