<div class="flex flex-col gap-1 p-1">
  <div class="flex flex-row">
    <div class="basis-3xs">From
      <p-datepicker [(ngModel)]="fromDate"
                    dateFormat="dd.mm.yy"
                    [showTime]="true"
                    (onSelect)="load()"
                    (onInput)="load()">
      </p-datepicker>
    </div>
    <div class="basis-3xs">To
      <p-datepicker [(ngModel)]="toDate"
                    dateFormat="dd.mm.yy"
                    [showTime]="true"
                    (onSelect)="load()"
                    (onInput)="load()"></p-datepicker>
    </div>
    <div class="flex flex-row gap-1">
      <p-button label="24h"
                icon="pi pi-sync"
                (onClick)="load24h()"/>
      <p-button label="48h"
                icon="pi pi-sync"
                (onClick)="load48h()"/>
      <p-button label="5d"
                icon="pi pi-sync"
                (onClick)="load5d()"/>
      <p-button label="7d"
                icon="pi pi-sync"
                (onClick)="load7d()"/>
      <p-button label="2w"
                icon="pi pi-sync"
                (onClick)="load2w()"/>
      <p-button label="1m"
                icon="pi pi-sync"
                (onClick)="load1m()"/>
      <p-button icon="pi pi-sync"
                (onClick)="load()"/>
    </div>
  </div>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        <i class="pi pi-reddit p-1"></i>
        <span>Statistics</span>
      </p-tab>
      <p-tab value="1">
        <i class="pi pi-reddit p-1"></i>
        <span>History</span>
      </p-tab>
      <p-tab value="2">Users</p-tab>
      <p-tab value="3">Startup</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p-table [value]="progressStatistics">
          <ng-template pTemplate="header">
            <tr>
              <th>Stage</th>
              <th>Count</th>
              <th>Percent</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-progressStatistic>
            <tr>
              <td>{{ progressStatistic.name }}</td>
              <td>{{ progressStatistic.count }}</td>
              <td>{{ progressStatistic.percent !== undefined ? progressStatistic.percent + "%" : "-" }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
    </p-tabpanels>
    <p-tabpanel value="1">
      <div class="flex flex-row">
        <div class="basis-xs">Sort
          <p-select
            [options]="sortOptions"
            [(ngModel)]="sortDesc"
            (onChange)="onSortChange()"
            class="w-full md:w-56"/>
        </div>
        <div class="basis-xs">Filter
          <p-select
            [options]="filterOptions"
            [(ngModel)]="filter"
            (onChange)="onFilterChanged()"
            optionLabel="name"
            optionValue="value"
            class="w-full md:w-56"/>
        </div>
        <div class="basis-3xs">
          Found: {{ homePageRequests.length }}
        </div>
      </div>
      <p-dataview [value]="homePageRequests">
        <ng-template #list>
          <div class="grid grid-cols-12 gap-4 grid-nogutter">
            @for (homePageRequest of homePageRequests; track homePageRequest; let first = $first) {
              <div class="col-span-12">
                <div
                  class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                  [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">
                  {{ homePageRequest.serverTime | date:'dd.MM.yyyy HH:mm:ss' }}
                  <br>
                  {{ gamePageRequest(homePageRequest).length }}
                </div>
              </div>
            }
          </div>
        </ng-template>
      </p-dataview>
    </p-tabpanel>
    <p-tabpanel value="2">
      <user-mgmt class="col-span-4"></user-mgmt>
    </p-tabpanel>
    <p-tabpanel value="3">
      <startup-tracking [startupTerminatedJsons]="startupTerminatedJsons" [startupTaskJsons]="startupTaskJsons"></startup-tracking>
    </p-tabpanel>
  </p-tabs>
</div>




