<p-divider align="left">
  <div class="inline-flex align-items-center">
    <i class="pi pi-plus-circle mr-2"></i>
    <b>Generator</b>
  </div>
</p-divider>

<div class="field grid align-items-center">
  <div class="col-9">
    <p-dropdown [options]="terrainObjectGeneratorOptions"
                [(ngModel)]="terrainObjectGeneratorId"
                optionLabel="name"
                optionValue="id"
                (onChange)="onTerrainObjectGeneratorChange($event)"
                [style]="{ width: '100%' }"></p-dropdown>
  </div>

  <div class="col-1">
    <p-button type="button" icon="pi pi-plus"
              styleClass="p-button-rounded p-button-text p-button-sm p-button-success"
              (onClick)="onCreateTerrainObjectGenerator()">
    </p-button>
  </div>
  <div class="col-1">
    <p-button type="button" icon="pi pi-save"
              styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"
              (onClick)="onSaveTerrainObjectGenerator()">
    </p-button>
  </div>
  <div class="col-1">
    <p-button type="button" icon="pi pi-trash"
              styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"
              (onClick)="onDeleteTerrainObjectGenerator()">
    </p-button>
  </div>
</div>

<terrain-object-generator-entity #terrainObjectGeneratorEntityComponent *ngIf="activeTerrainObjectGenerator"
                                 [terrainObjectGeneratorEntity]="activeTerrainObjectGenerator"></terrain-object-generator-entity>

<div class="field grid align-items-center">
</div>

<div class="field grid align-items-center">
  <span class="col">Generate</span>
  <div class="col">
    <p-button icon="pi pi-bolt" (onClick)="generate()" [disabled]="!activeTerrainObjectGenerator"></p-button>
  </div>
</div>

<p-table [value]="generatedTerrainObjectsEntries"
         scrollHeight="100px">
  <ng-template pTemplate="header">
    <tr>
      <th>Generation date</th>
      <th>Terrain objects</th>
      <th>Count</th>
      <th>Apply</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-generatedTerrainObjects>
    <tr>
      <td>
        {{ generatedTerrainObjects.date | date:'HH:mm:ss' }}
      </td>
      <td>
        {{ generatedTerrainObjects.terrainObjectConfigs }}
      </td>
      <td>
        {{ generatedTerrainObjects.count }}
      </td>
      <td>
        <p-button icon="pi pi-check"
                  (onClick)="moveGeneratedTerrainObjectsEntry(generatedTerrainObjects)"></p-button>
      </td>
      <td>
        <p-button icon="pi pi-trash"
                  (onClick)="deleteGeneratedTerrainObjectsEntry(generatedTerrainObjects)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

