<p-scrollpanel [style]="{ width: '600px', height: '100%' }">
  <div>
    <div class="flex flex-row gap-1 items-center p-1">
      <p-button type="button" icon="pi pi-save" styleClass="p-button-sm"
      (onClick)="onSave()"></p-button>
      <p-select [options]="serverGameEngineConfigEntity ? serverGameEngineConfigEntity!.startRegionConfigs:[]"
        [(ngModel)]="selectedStartRegion"
      optionLabel="internalName"></p-select>
      <p-button type="button" icon="pi pi-plus-circle" styleClass="p-button-sm"
      (onClick)="onCreate()"></p-button>
      <p-button type="button" icon="pi pi-trash" styleClass="p-button-sm"
        (onClick)="onDelete()"
      [disabled]="!selectedStartRegion"></p-button>
    </div>
    @if (selectedStartRegion) {
      <div
        class="flex flex-col gap-1 bg-surface-800 p-3 rounded-xl border border-surface-500 bg-surface-100">
        <p-divider align="left">
          <div class="inline-flex items-center">
            <i class="pi pi-cog mr-2"></i>
            <b>Configuration</b>
          </div>
        </p-divider>
        <div class="grid grid-cols-12 gap-4">
          <span class="col-span-5">Id</span>
          <div class="col-span-7">
            <p-inputNumber [disabled]="true" inputId="integeronly"
              [ngModel]="selectedStartRegion&&selectedStartRegion.id"
            (ngModelChange)="selectedStartRegion && (selectedStartRegion.id = $event)"></p-inputNumber>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-4">
          <span class="col-span-5">Internal name</span>
          <div class="col-span-7">
            <input [ngModel]="selectedStartRegion&&selectedStartRegion.internalName"
              (ngModelChange)="selectedStartRegion && (selectedStartRegion.internalName = $event)"
              type="text"
              class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
            </div>
          </div>
          <div class="grid grid-cols-12 gap-4">
            <span class="col-span-5">Minimal level</span>
            <div class="col-span-7">
              @if (selectedStartRegion) {
                <level [(levelId)]="selectedStartRegion.minimalLevelId"></level>
              }
            </div>
          </div>
          <div class="grid grid-cols-12 gap-4">
            <span class="col-span-5">Region</span>
            <div class="col-span-7">
              @if (selectedStartRegion) {
                <place-config [(placeConfig)]="selectedStartRegion.region"></place-config>
              }
            </div>
          </div>
          <div class="grid grid-cols-12 gap-4">
            <span class="col-span-5">Find free position</span>
            <div class="col-span-7">
              @if (selectedStartRegion) {
                <p-checkbox
                [(ngModel)]="selectedStartRegion.findFreePosition" [binary]="true"></p-checkbox>
              }
            </div>
          </div>
          <div class="grid grid-cols-12 gap-4">
            <span class="col-span-5">Find free position max items</span>
            <div class="col-span-7">
              @if (selectedStartRegion) {
                <p-inputNumber
                  inputId="integeronly"
                  [readonly]="!selectedStartRegion.findFreePosition"
                [(ngModel)]="selectedStartRegion.positionMaxItems"></p-inputNumber>
              }
            </div>
          </div>
          <div class="grid grid-cols-12 gap-4">
            <span class="col-span-5">Find free position radius</span>
            <div class="col-span-7">
              @if (selectedStartRegion) {
                <p-inputNumber
                  inputId="minmaxfraction"
                  mode="decimal"
                  [maxFractionDigits]="3"
                  [readonly]="!selectedStartRegion.findFreePosition"
                [(ngModel)]="selectedStartRegion.positionRadius"></p-inputNumber>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </p-scrollpanel>
