<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-check-square mr-2"></i>
    <b>Correction</b>
  </div>
</p-divider>

<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Water level</span>
  <div class="col-span-7 flex gap-2">
    <p-button icon="pi pi-play-circle" (onClick)="fixWaterLevel()"></p-button>
    <p-button icon="pi pi-save" (onClick)="saveFixed()" [disabled]="!fixedUint16HeightMap"></p-button>
  </div>
</div>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-pencil mr-2"></i>
    <b>Brush</b>
  </div>
</p-divider>

<p-selectButton [options]="brushOptions" [(ngModel)]="selectedBrush"
                (onChange)="onBrushChange($event)"></p-selectButton>
<ng-template #brushContainer></ng-template>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-cog mr-2"></i>
    <b>View</b>
  </div>
</p-divider>

<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Wireframe</span>
  <div class="col-span-7">
    <p-checkbox [(ngModel)]="wireframe" (onChange)="onWireframeChanged()" [binary]="true"></p-checkbox>
  </div>
</div>

<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Show terrain type</span>
  <div class="col-span-7">
    <p-checkbox [(ngModel)]="showTerrainType" (onChange)="onShowTerrainTypeChanged()" [binary]="true"></p-checkbox>
  </div>
</div>

<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Show terrain type worker (slow)</span>
  <div class="col-span-7">
    <p-checkbox [(ngModel)]="showTerrainTypeWorker" (onChange)="onShowTerrainTypeWorkerChanged()"
                [binary]="true"></p-checkbox>
  </div>
</div>

<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Show material index</span>
  <div class="col-span-7">
    <p-checkbox [(ngModel)]="showMaterialIndex" (onChange)="onShowMaterialIndexChanged()"
                [binary]="true"></p-checkbox>
  </div>
</div>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-save mr-2"></i>
    <b>Save</b>
  </div>
</p-divider>

<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Save</span>
  <div class="col-span-7">
    <p-button icon="pi pi-save" (onClick)="save()"></p-button>
  </div>
</div>
<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Last saved</span>
  <div class="col-span-7">
    {{ lastSavedTimeStamp }}
  </div>
</div>
<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Size (last saved)</span>
  <div class="col-span-7 flex gap-2 items-center">
    {{ lastSavedSize }}
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" size="small" (onClick)="loadHeightmapSize()" [loading]="lastSavedSizeLoading"></p-button>
  </div>
</div>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-bolt mr-2"></i>
    <b>Import / Export</b>
  </div>
</p-divider>
<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Export</span>
  <div class="col-span-7">
    <p-button type="button" icon="pi pi-cloud-download" (onClick)="onDownload()"></p-button>
  </div>
</div>
<div class="grid grid-cols-12">
  <span class="col-span-5">Import</span>
  <div class="col-span-7">
    <p-fileUpload #fileUploadElement chooseLabel="Choose..." chooseIcon="pi pi-folder-open" mode="basic"
                  styleClass="p-button-sm" [auto]=true [customUpload]=true (uploadHandler)="onImportHeightMap($event)">
    </p-fileUpload>
  </div>
</div>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-bolt mr-2"></i>
    <b>Action</b>
  </div>
</p-divider>

<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Restart Planet warm</span>
  <div class="col-span-7">
    <p-button icon="pi pi-power-off" (onClick)="restartPlanetWarm()"></p-button>
  </div>
</div>
<div class="grid grid-cols-12 gap-1 p-1">
  <span class="col-span-5">Restart Planet cold</span>
  <div class="col-span-7">
    <p-button icon="pi pi-power-off" (onClick)="restartPlanetCold()"></p-button>
  </div>
</div>
