<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-pencil mr-2"></i>
    <b>Brush</b>
  </div>
</p-divider>

<p-selectButton [options]="brushOptions" [(ngModel)]="selectedBrush"
  (onChange)="onBrushChange($event)"></p-selectButton>
<ng-template #brushContainer></ng-template>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-cog mr-2"></i>
    <b>View</b>
  </div>
</p-divider>

<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Wireframe</span>
  <div class="col">
    <p-checkbox [(ngModel)]="wireframe" (onChange)="onWireframeChanged()" [binary]="true"></p-checkbox>
  </div>
</div>

<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Show terrain type</span>
  <div class="col">
    <p-checkbox [(ngModel)]="showTerrainType" (onChange)="onShowTerrainTypeChanged()" [binary]="true"></p-checkbox>
  </div>
</div>

<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Show terrain type worker (slow)</span>
  <div class="col">
    <p-checkbox [(ngModel)]="showTerrainTypeWorker" (onChange)="onShowTerrainTypeWorkerChanged()" [binary]="true"></p-checkbox>
  </div>
</div>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-save mr-2"></i>
    <b>Save</b>
  </div>
</p-divider>

<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Save</span>
  <div class="col">
    <p-button icon="pi pi-save" (onClick)="save()"></p-button>
  </div>
</div>
<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Last saved</span>
  <div class="col">
    {{ lastSavedTimeStamp }}
  </div>
</div>
<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Size (last saved)</span>
  <div class="col">
    {{ lastSavedSize }}
  </div>
</div>

<p-divider align="left">
  <div class="inline-flex items-center">
    <i class="pi pi-bolt mr-2"></i>
    <b>Action</b>
  </div>
</p-divider>

<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Restart Planet warm</span>
  <div class="col">
    <p-button icon="pi pi-power-off" (onClick)="restartPlanetWarm()"></p-button>
  </div>
</div>
<div class="field grid grid-cols-12 gap-4 items-center">
  <span class="col">Restart Planet cold</span>
  <div class="col">
    <p-button icon="pi pi-power-off" (onClick)="restartPlanetCold()"></p-button>
  </div>
</div>