<div *ngIf="success == false">
  <table>
    <tr>
      <td>
        <div>{{passwordError}}</div>
        <input [(ngModel)]="password" type="password">
      </td>
    </tr>
    <tr>
      <td>
        <div>{{passwordConfirmError}}</div>
        <input [(ngModel)]="passwordConfirm" #passwordConfirmBox (keyup)="onKeyPasswordConfirm(passwordConfirmBox.value)" type="password">
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="onSave()" class="homePageButton">Speichern</button>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="success">
  <div>Dein Passwort wurde geändert</div>
  <button (click)="onGame()" class="homePageButton">Spielen</button>
</div>

<div *ngIf="failed">
  <div>Passwort Änderung fehlgeschlagen</div>
</div>

