<div [style]="{width:'500px'}">
  <div class="grid">
    <div class="col-1">
      <p-button type="button" icon="pi pi-save" styleClass="p-button-sm"
                (onClick)="onSave()"></p-button>
    </div>
    <div class="col-11">
      <p-dropdown [options]="serverGameEngineConfig ? serverGameEngineConfig!.startRegionConfigs:[]"
                  [(ngModel)]="selectedStartRegion"
                  optionLabel="internalName"></p-dropdown>
    </div>
  </div>
  <p-divider align="left">
    <div class="inline-flex align-items-center">
      <i class="pi pi-cog mr-2"></i>
      <b>Configuration</b>
    </div>
  </p-divider>
  <div class="grid">
    <span class="col-4">Id</span>
    <div class="col-8">
      <p-inputNumber [disabled]="true" inputId="integeronly"
                     [(ngModel)]="selectedStartRegion&&selectedStartRegion.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid">
    <span class="col-4">Internal name</span>
    <div class="col-8">
      <input [(ngModel)]="selectedStartRegion&&selectedStartRegion.internalName"
             type="text"
             class="text-base text-color bg-primary-reverse p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
  <div class="grid">
    <span class="col-4">Minimal level</span>
    <div class="col-8">
      <level *ngIf="selectedStartRegion" [(levelId)]="selectedStartRegion.minimalLevelId"></level>
    </div>
  </div>
  <div class="grid">
    <span class="col-4">Region</span>
    <div class="col-8">
      <place-config *ngIf="selectedStartRegion" [(placeConfig)]="selectedStartRegion.region"></place-config>
    </div>
  </div>
  <div class="grid">
    <span class="col-4">No base view position</span>
    <div class="col-8">
      <decimal-position *ngIf="selectedStartRegion"
                        [(decimalPosition)]="selectedStartRegion.noBaseViewPosition"></decimal-position>
    </div>
  </div>
</div>

