<div [style]="{width:'500px'}">
  <div class="grid">
    <div class="col-1">
      <p-button type="button" icon="pi pi-save" styleClass="p-button-sm"
                (onClick)="onSave()"></p-button>
    </div>
    <div class="col-11">
      <p-dropdown [options]="serverGameEngineConfig ? serverGameEngineConfig!.resourceRegionConfigs:[]"
                  [(ngModel)]="selectedResourceRegion"
                  optionLabel="internalName"></p-dropdown>
    </div>
  </div>
  <p-divider align="left">
    <div class="inline-flex align-items-center">
      <i class="pi pi-cog mr-2"></i>
      <b>Configuration</b>
    </div>
  </p-divider>
  <div class="grid">
    <span class="col-3">Id</span>
    <div class="col-9">
      <p-inputNumber [disabled]="true" inputId="integeronly"
                     [(ngModel)]="selectedResourceRegion&&selectedResourceRegion.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid">
    <span class="col-3">Internal name</span>
    <div class="col-9">
      <input [(ngModel)]="selectedResourceRegion&&selectedResourceRegion.internalName"
             type="text"
             class="text-base text-color bg-primary-reverse p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
  <div class="grid">
    <span class="col-3">Count</span>
    <div class="col-9">
      <p-inputNumber inputId="integeronly"
                     [(ngModel)]="selectedResourceRegion&&selectedResourceRegion.count"></p-inputNumber>
    </div>
  </div>
  <div class="grid">
    <span class="col-3">Min distance to items</span>
    <div class="col-9">
      <p-inputNumber inputId="integeronly"
                     [(ngModel)]="selectedResourceRegion&&selectedResourceRegion.minDistanceToItems"></p-inputNumber>
    </div>
  </div>
  <div class="grid">
    <span class="col-3">Resource item type</span>
    <div class="col-9">
      <resource-item-type *ngIf="selectedResourceRegion" [(resourceItemTypeId)]="selectedResourceRegion.resourceItemTypeId"></resource-item-type>
    </div>
  </div>
  <div class="grid">
    <span class="col-3">Region</span>
    <div class="col-9">
      <place-config *ngIf="selectedResourceRegion" [(placeConfig)]="selectedResourceRegion.region"></place-config>
    </div>
  </div>
</div>

