<div style="width: 40em">
  <div class="grid grid-razarion-editor">
    <span class="col-4">Id</span>
    <div class="col-8">
      <p-inputNumber [disabled]="true" [(ngModel)]="terrainObjectConfig.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Internal name</span>
    <div class="col-8">
      <input [(ngModel)]="terrainObjectConfig.internalName" type="text"
             class="text-base text-color bg-primary-reverse p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Radius [m]</span>
    <div class="col-8">
      <p-inputNumber [(ngModel)]="terrainObjectConfig.radius" [minFractionDigits]="3"
                     [maxFractionDigits]="3"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Model 3D</span>
    <div class="col-8">
      <model3d [(model3DId)]="terrainObjectConfig.model3DId"></model3d>
    </div>
  </div>
</div>

