<div style="width: 40em">
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Id</span>
    <div class="col-span-8">
      <p-inputNumber [disabled]="true" [(ngModel)]="terrainObjectConfig.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Internal name</span>
    <div class="col-span-8">
      <input [(ngModel)]="terrainObjectConfig.internalName" type="text"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Radius [m]</span>
    <div class="col-span-8">
      <p-inputNumber [(ngModel)]="terrainObjectConfig.radius" [minFractionDigits]="3"
                     [maxFractionDigits]="3"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
    <span class="col-span-4">Model 3D</span>
    <div class="col-span-8">
      <model3d [(model3DId)]="terrainObjectConfig.model3DId"></model3d>
    </div>
  </div>
</div>

