<div class="flex flex-column">
  <div class="mb-0">
    <p-treeTable *ngIf="gwtAngularPropertyTable" [value]="gwtAngularPropertyTable.rootTreeNodes"
                 [columns]="cols" sortField="name" (sortFunction)="sortPropertyNames($event)" [customSort]="true"
                 [tableStyle]="{width:'auto'}" [autoLayout]="true">
      <ng-template pTemplate="body" let-rowNode let-angularTreeNodeData="rowData">
        <tr [ttRow]="rowNode">
          <td style="white-space: nowrap">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{angularTreeNodeData.name}}
            <p-button *ngIf="angularTreeNodeData.deleteAllowed" icon="pi pi-times"
                      styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"
                      (onClick)="angularTreeNodeData.onDelete(this.gwtAngularPropertyTable)">
            </p-button>
            <p-button *ngIf="angularTreeNodeData.createAllowed" icon="pi pi-sun"
                      styleClass="p-button-rounded p-button-text p-button-sm p-button-success"
                      (onClick)="angularTreeNodeData.createOptions ? createChoice.show($event) : angularTreeNodeData.onCreate(this.gwtAngularPropertyTable)">
            </p-button>
            <p-overlayPanel #createChoice [dismissable]="true" [showCloseIcon]="true">
              <ng-template pTemplate>
                <p-listbox [options]="angularTreeNodeData.createOptions" (onChange)="angularTreeNodeData.onCreate(this.gwtAngularPropertyTable, $event.value); createChoice.hide()"></p-listbox>
              </ng-template>
            </p-overlayPanel>
          </td>
          <td>
            <property-editor *ngIf="angularTreeNodeData.propertyEditorSelector"
                             [angular-tree-node-data]="angularTreeNodeData"
                             [property-table]="gwtAngularPropertyTable"></property-editor>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>







