<p-treeTable [value]="gwtAngularPropertyTable.rootTreeNodes" [tableStyle]="{width:'auto'}" [autoLayout]="true">
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td style="white-space: nowrap">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.name}}
        <p-button *ngIf="rowData.deleteAllowed" icon="pi pi-times"
                  styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"
                  (onClick)="rowData.onDelete(this.gwtAngularPropertyTable)">
        </p-button>
        <p-button *ngIf="rowData.createAllowed" icon="pi pi-sun"
                  styleClass="p-button-rounded p-button-text p-button-sm p-button-success"
                  (onClick)="rowData.onCreate(this.gwtAngularPropertyTable)">
        </p-button>
      </td>
      <td>
        <input type="text" pInputText *ngIf="rowData.value" [(ngModel)]="rowData.value"/>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
