<div class="flex">
  <div class="mr-2 editor-category">
    <div class="flex flex-column">
      <div class="mb-2">
        <h3>Administration</h3>
      </div>
      <div class="mb-2">
        <p-button type="button" label="Babylon" icon="pi pi-video" styleClass="p-button-sm"
                  (onClick)="openBabylonInspector()"></p-button>
      </div>
      <div class="mb-2" *ngFor="let editor of editors | keyvalue">
        <p-button type="button" label="{{editor.key}}" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openAdministrationEditor(editor.key, editor.value)"></p-button>
      </div>
    </div>
  </div>
  <div class="mr-2 editor-category">
    <div class="flex flex-column">
      <div class="mb-2">
        <h3>Planet</h3>
      </div>
      <div class="mb-2">
        <p-button type="button" label="Terrain Editor" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openTerrainEditor()"></p-button>
      </div>
      <div class="mb-2">
        <p-button type="button" label="Quests" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openQuestEditor()"></p-button>
      </div>
      <div class="mb-2">
        <p-button type="button" label="Bots" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openBotEditor()"></p-button>
      </div>
      <div class="mb-2">
        <p-button type="button" label="Start Regions" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openStartRegionEditor()"></p-button>
      </div>
      <div class="mb-2">
        <p-button type="button" label="Resource Regions" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openResourceRegionEditor()"></p-button>
      </div>
    </div>
  </div>
  <div class="mr-2 editor-category">
    <div class="flex flex-column">
      <div class="mb-2">
        <h3>Configuration</h3>
      </div>
      <div class="mb-2" *ngFor="let collectionName of collectionNames;">
        <p-button type="button" label="{{collectionName}}" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openConfigurationEditor(collectionName)"></p-button>
      </div>
      <div class="mb-2">
        <p-button type="button" label="Image" icon="pi pi-cog" styleClass="p-button-sm"
                  (onClick)="openImageEditor()"></p-button>
      </div>
    </div>
  </div>
</div>

