<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th>User</th>
    <th>Session</th>
    <th>Multiplayer Planet</th>
    <th>Error</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let onlineInfo of onlineInfos">
    <td>{{ onlineInfo.time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
    <td>{{ onlineInfo.duration | duration}}</td>
    <td>
      <div (click)="onClickUser(onlineInfo)" style="cursor: pointer">
        {{getUserState(onlineInfo)}}
      </div>
    </td>
    <td>
      <div *ngIf="onlineInfo.sessionId" (click)="onClickSession(onlineInfo)" style="cursor: pointer">{{
        onlineInfo.sessionId }}
      </div>
    </td>
    <td>
      <table *ngIf="onlineInfo.multiplayerPlanet">
        <tr>
          <td>{{ onlineInfo.multiplayerPlanet }}</td>
          <td>{{ onlineInfo.multiplayerDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td>{{ onlineInfo.multiplayerDuration | duration}}</td>
        </tr>
      </table>
    </td>
    <td>
      <div [ngSwitch]="onlineInfo.type">
        <div *ngSwitchCase="'NORMAL'"></div>
        <div *ngSwitchCase="'ORPHAN'" style="background-color: #ffb8b8">No system connection found</div>
        <div *ngSwitchCase="'UNKNOWN'" style="background-color: #ffb8b8">No game session id</div>
        <div *ngSwitchDefault style="background-color: #ffb8b8">Unknown type: {{ onlineInfo.type}}</div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<button (click)="onUpdate()">Update</button> Last loaded: {{ lastLoaded | date:'dd.MM.yyyy HH:mm:ss'}}
