<p-dataView [value]="quests" [layout]="'list'">
    <ng-template let-quest pTemplate="listItem">
        <div class="grid" style="width: 100%;">
            <div class="col-6">
                <div class="flex flex-column">
                    <div class="flex font-semibold text-3xl">
                        {{quest.title}}
                    </div>
                    <div class="flex">
                        {{quest.description}}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="flex flex-column">
                    <div *ngFor="let reward of quest.rewards" class="flex justify-content-end">
                        {{reward}}
                    </div>
                </div>
            </div>
            <div class="col-3 m-auto">
                <p-button icon="pi pi-play" label="Activate" (click)="onActivate(quest.questId)"></p-button>
            </div>
        </div>
    </ng-template>
</p-dataView>