<p-dataView [value]="quests"  [emptyMessage]="'No quests'">
  <ng-template pTemplate="list" let-quests>
    <div class="grid grid-cols-12 gap-4 grid-nogutter">
      <div class="col-span-12" *ngFor="let quest of quests">
        <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4">
          <div class="col-span-6">
            <div class="flex flex-col">
              <div class="flex font-semibold text-3xl">
                {{quest.title}}
              </div>
              <div class="flex">
                {{quest.description}}
              </div>
            </div>
          </div>
          <div class="col-span-3">
            <div class="flex flex-col">
              <div *ngFor="let reward of quest.rewards" class="flex justify-end">
                {{reward}}
              </div>
            </div>
          </div>
          <div class="col-span-3 m-auto">
            <p-button icon="pi pi-play" label="Activate" (click)="onActivate(quest.questId)"></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
