:host {
  display: block;
  background-color: black;
}

.cockpit-element {
    border: 1px solid #150d18;
    padding: 3px;
    margin-bottom: 1px;
    background-color: black;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blinking-button {
    animation: blink 1s infinite;
  }
