<div class="flex flex-column">
  <div>
    <p-badge [value]="'Level: ' + levelNumber" severity="warning" size="large"></p-badge>
  </div>
  <div>
    <p-knob [(ngModel)]="100 * xp / xp2LevelUp" [size]="75" [valueTemplate]="xp + '/' + xp2LevelUp">
    </p-knob>
  </div>
  <div class="p-inputgroup" style="width: 10em;">
    <span class="p-inputgroup-addon w-8">Razarion</span>
    <input type="text" class="w-4" pInputText value="{{resources}}" readonly="true">
  </div>
  <div  *ngIf="false" class="p-inputgroup" style="width: 10em;">
    <span class="p-inputgroup-addon w-8">House space</span>
    <input type="text" class="w-4" pInputText value="{{houseSpace}}" readonly="true">
  </div>
  <div *ngIf="consuming && generating">
    Energy: {{consuming}}/{{generating}}
  </div>
  <div *ngIf="radarState">
    Radar State: {{radarState}}
    <radar></radar>
  </div>
  <div *ngIf="admin">
    <p-button type="button" label="Editor" icon="pi pi-cog" styleClass="p-button-sm"
      (onClick)="this.editorDialog = true"></p-button>
  </div>
</div>