.crystals {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.product-name {
    font-size: 1.1rem;
    font-weight: 700;
}

.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 2px;
    background-color: rgb(88, 88, 88);

    img {
        width: 50px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
    }

    .product-list-detail {
        flex: 1 1 0;
    }

    .product-list-action {
        display: flex;
        flex-direction: column;
    }

    .p-button {
        margin-bottom: .5rem;
    }
}