<div class="crystals">Crystals: {{ crystals }}</div>
<p-dataView [value]="inventoryItems" [layout]="'grid'" [emptyMessage]="'Inventory is empty'">
  <ng-template #grid>
    <div class="grid grid-nogutter">
      @for (inventoryItem of inventoryItems; track inventoryItem) {
        <div class="col-12 sm:col-6 md:col-4 xl:col-6 p-2">
          <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
            <div class="product-list-item">
              <img [src]="getImageUrl(inventoryItem.getImageId()!)"/>
              <div class="product-list-detail">
                <div class="product-name">{{ inventoryItem.getI18nName().getString() }}</div>
              </div>
              <div class="product-list-action">
                <p-button icon="pi pi-play" label="Use" (onClick)="onUse(inventoryItem)"></p-button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </ng-template>
</p-dataView>
