<div class="homePageMain">
  <div class="homePageMiddle">

    <div class="homePageMiddleCenter">

      <div *ngIf="registered==false" class="registerFb">
        <h2>Registrierung mit Facebook</h2>
        <div id="fb-root"></div>
        <!--  See: com/btxtech/client/dialog/common/RegisterDialog.html -->
        <div class="fbButton">
          <div class="fb-login-button" data-size="large" data-button-type="continue_with"></div>
        </div>
      </div>

      <div *ngIf="registered==false" class="registerNormal">
        <h2>Registrierung mit E-Mail und Passwort</h2>
        <table>
          <tr>
            <td>
              <p class="errorP">{{emailError}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="emailField">E-Mail Adresse</label>
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="email" #emailBox (keyup)="onKeyEmail(emailBox.value)" type="email" id="emailField">
            </td>
          </tr>
          <tr>
            <td>
              <p class="errorP">{{passwordError}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="passwordField">Passwort</label>
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="password" #passwordBox (keyup)="onKeyPassword(passwordBox.value)" type="password" id="passwordField">
            </td>
          </tr>
          <tr>
            <td>
              <p class="errorP">{{passwordConfirmError}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="passwordConfirmField">Passwort bestätigen</label>
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="passwordConfirm" #passwordConfirmBox (keyup)="onKeyPasswordConfirm(passwordConfirmBox.value)" type="password" id="passwordConfirmField">
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="rememberMe" type="checkbox" id="rememberMeCheckbox"><label for="rememberMeCheckbox">Angemeldet bleiben</label>
            </td>
          </tr>
          <tr>
            <td>
              <div class="registerNormalButton">
                <button *ngIf="working==false" (click)="onRegister()" class="homePageButton">Registrieren</button>
                <img *ngIf="working==true" src="/assets/inprogress.svg">
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="registered" class="registerOk">
        <h2>Deine Registrierung war erfolgreich</h2>
        <span>Eine E-Mail mit dem Aktivierungslink wurde an </span><span style="font-weight: bolder">'{{email}}'</span><span> geschickt. Bitte prüfen dein Posteingang oder Spam-Ordner.</span>
        <div>
          <button (click)="onPlay()">Spielen</button>
        </div>
      </div>

    </div>
  </div>
</div>
