<div class="flex flex-col bg-surface-700" style="width: 120px;">
  <img src="{{getImgUrl()}}" alt="Image item" class="image-gallery-img">
  <div class="flex flex-row">
    <p-button icon="pi pi-pencil" styleClass="p-button-text p-button-sm p-button-success" title="Select"
    (onClick)="op.toggle($event)"></p-button>

    @if (imageId) {
      <p-button icon="pi pi-trash" styleClass="p-button-text p-button-sm p-button-danger" title="Delete"
      (onClick)="onDelete()"></p-button>
    }
    <div style="margin-left: 7px;">{{ imageId }}</div>
  </div>
  <div class="flex flex-row">
    @if (imageId) {
      <p-fileUpload class="mr-0" styleClass="p-button-text p-button-sm p-button-success"
        chooseIcon="pi pi-upload"
        mode="basic" accept="image/*" name="ignore" [auto]="true" method="put" url="{{getUpdateUrl()}}"
        (onError)="onUpdateError($event)" (onUpload)="onUploaded()">
      </p-fileUpload>
    }
  </div>
</div>
<p-popover #op>
  <image-gallery [(selectedImageId)]="imageId" (closeRequest)="op.hide()"></image-gallery>
</p-popover>
