.image-gallery-img {
    width: 50px;
    height: 50px;
    background: url('/TransparentBg.png')
}

.image-border {
    border-width: 2px;
    border-style: solid;
    border-color: #64b5f6;
    margin: 1px;
    cursor: pointer;
}

.image-border-selected {
    border-width: 3px;
    border-style: solid;
    border-color: #f66464;
    margin: 0px;
}
