<div #miniMapElement style="position: relative; border: 1px solid #FFF" (click)="onMapClicke($event);">
    <canvas #miniTerrainElement style="position: absolute; top: 0; left: 0"></canvas>
    <canvas #miniItemViewElement style="position: absolute; top: 0; left: 0"></canvas>
    <canvas #miniViewFieldElement style="position: absolute; top: 0; left: 0"></canvas>
</div>
<p-button icon="pi pi-search-plus" styleClass="p-button-text p-button-sm" title="Zoom in"
    (onClick)="zoomInButtonClick()">
</p-button>
<p-button icon="pi pi-search-minus" styleClass="p-button-text p-button-sm" title="Zoom in"
    (onClick)="zoomOuButtonClick()">
</p-button>