.radarNoPower {
  text-shadow: 0 0 3px #000000;
  background-color: black;
  background-image: url(/cockpit/RadarNoEnergy.gif);
  border: 1px solid #FFF;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
