<div class="homePageMain">
  <div class="homePageMiddle">
    <div class="homePageMiddleCenter">
      <div *ngIf="success == false" class="changePassword">
        <h2>Setze dein neues Passwort</h2>
        <table>
          <tr>
            <td>
              <p class="errorP">{{passwordError}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="passwordField">Passwort</label>
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="password" #passwordBox (keyup)="onKeyPassword(passwordBox.value)" type="password" id="passwordField">
            </td>
          </tr>
          <tr>
            <td>
              <p class="errorP">{{passwordConfirmError}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="passwordConfirmField">Passwort bestätigen</label>
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="passwordConfirm" #passwordConfirmBox (keyup)="onKeyPasswordConfirm(passwordConfirmBox.value)" type="password" id="passwordConfirmField">
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="onSave()" class="homePageButton">Speichern</button>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="success" class="changePasswordOk">
        <p>Dein Passwort wurde geändert</p>
        <div>
          <button (click)="onGame()" class="homePageButton">Spielen</button>
        </div>
      </div>

      <div *ngIf="failed" class="changePasswordError">
        <p>Passwort Änderung fehlgeschlagen</p>
      </div>

    </div>
  </div>
</div>
