.changePassword {
  left: 185px;
  top: -145px;
  width: 380px;
  height: 160px;
  position: absolute;
  border: 8px solid transparent;
  background-image: url('/images/DialogBackground.png');
  border-image-source: url('/images/Border.png');
  border-image-slice: 8;
  border-image-repeat: repeat;
  box-shadow: 3px 3px 15px 1px #000;
}

.changePasswordOk {
  left: 185px;
  top: -145px;
  width: 380px;
  height: 80px;
  position: absolute;
  border: 8px solid transparent;
  background-image: url('/images/DialogBackground.png');
  border-image-source: url('/images/Border.png');
  border-image-slice: 8;
  border-image-repeat: repeat;
  box-shadow: 3px 3px 15px 1px #000;
}

.changePasswordError {
  left: 185px;
  top: 65px;
  width: 380px;
  height: 50px;
  position: absolute;
  border: 8px solid transparent;
  background-image: url('/images/DialogBackground.png');
  border-image-source: url('/images/Border.png');
  border-image-slice: 8;
  border-image-repeat: repeat;
  box-shadow: 3px 3px 15px 1px #000;
}

.changePassword h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #CCC;
  margin: 0 0 2px 0;
  font-size: 17px;
}

.changePassword label, .changePasswordOk p, .changePasswordError p {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #CCC;
  font-size: 15px;
  margin: 0;
}

.changePassword .errorP {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0300;
  font-size: 15px;
  margin: 0;
}

.changePasswordOk div {
  padding-top: 20px;
  display: table;
  margin: 0 auto;
}




