<div class="homePageMain">
  <div class="homePageMiddle">
    <div class="homePageMiddleCenter">

      <div class="resetPassword" *ngIf="passwordResetInitiated == false">
        <h2>Passwort Reset</h2>
        <p>Bitte gib deine E-Mail-Adresse ein, damit dein Passwort neu gesetzt werden kann</p>
        <p class="errorP">{{emailError}}</p>
        <div *ngIf="working==false" style="margin-top: 20px">
          <input [(ngModel)]="email" type="email" #emailBox (keyup)="onKeyEmail(emailBox.value)">
          <button (click)="onReset()" class="homePageButton">Senden</button>
        </div>
        <img *ngIf="working==true" src="/assets/inprogress.svg">
      </div>

      <div *ngIf="passwordResetInitiated" class="resetPassword">
        <span>Es wurde eine E-Mail mit einem Link zum Ändern des Passworts an </span><span style="font-weight: bolder">{{email}}</span><span> gesendet.</span>
      </div>

    </div>
  </div>
</div>
