<div class="p-d-flex p-flex-column" *ngIf="ownItemCockpit">
  <div class="p-d-flex">
    <div class="p-mr-2">
      <img src="{{ownItemCockpit.imageUrl}}" class="item-cockpit-image" alt="{{ownItemCockpit.itemTypeName}}">
    </div>
    <div class="p-mr-2">
      <div class="p-d-flex p-flex-column" *ngIf="ownItemCockpit">
        <div class="p-mb-2" [style]="{fontSize: 'larger', color: '#64B5F6'}">
          {{ownItemCockpit.itemTypeName}}
        </div>
        <div class="p-mb-2">
          {{ownItemCockpit.itemTypeDescr}}
        </div>
        <div class="p-mb-2">
          <div *ngIf="count && count > 1">
            {{count}}
          </div>
        </div>
      </div>
    </div>
    <div class="p-mr-2" *ngIf="ownItemCockpit.sellHandler">
      <p-button label="$" [style]="{padding: '0.1rem 0.4rem'}" (onClick)="ownItemCockpit.sellHandler()"></p-button>
    </div>
  </div>
  <div class="p-mb-2" *ngIf="ownItemCockpit.buildupItemInfos">
    <hr>
    <p-carousel [value]="ownItemCockpit.buildupItemInfos" [numVisible]="3" [numScroll]="1"
                styleClass="buildup-carousel">
      <ng-template let-buildupItemCockpit pTemplate="item">
        <div class="p-d-flex p-flex-column" [style]="{padding: '0 1px 0 1px'}">
          <div class="p-d-flex">
            <p-button styleClass='item-cockpit-buildup-button'
                    (click)="buildupItemCockpit.onBuild()"
                    title="{{buildupItemCockpit.tooltip}}"
                    [disabled]="!buildupItemCockpit.enabled">
              <img src="{{buildupItemCockpit.imageUrl}}"
                   style="position: absolute;top: 0; left: 0; width: 40px; height: 40px"
                   alt="buildupItemCockpit.imageUrl">
              <span class="item-cockpit-buildup-limit-label">
                {{buildupItemCockpit.itemCount}}/{{buildupItemCockpit.itemLimit}}
              </span>
            </p-button>
          </div>
          <div class="p-d-flex">
            {{buildupItemCockpit.price}}
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<p-carousel *ngIf="ownMultipleIteCockpits" [value]="ownMultipleIteCockpits" [numVisible]="3" [numScroll]="1">
  <ng-template let-ownMultipleIteCockpit pTemplate="item">
    <div class="p-d-flex p-flex-column">
      <div class="p-mb-2">
        <img src="{{ownMultipleIteCockpit.ownItemCockpit.imageUrl}}" class="item-cockpit-image"
             alt="{{ownMultipleIteCockpit.ownItemCockpit.itemTypeName}}">
      </div>
      <div class="p-mb-2">
        {{ownMultipleIteCockpit.ownItemCockpit.itemTypeName}}
      </div>
      <div class="p-mb-2">
        {{ownMultipleIteCockpit.count}}
      </div>
      <div class="p-mb-2">
        <p-button label="Build" (onClick)="ownMultipleIteCockpit.onSelect()">Select</p-button>
      </div>
    </div>
  </ng-template>
</p-carousel>

<div class="p-d-flex p-flex-column" *ngIf="otherItemCockpit">
  <div class="p-mb-2">
    <img src="{{otherItemCockpit.imageUrl}}" class="item-cockpit-image" alt="{{otherItemCockpit.itemTypeName}}">
  </div>
  <div class="p-mb-2">
    Name: {{otherItemCockpit.itemTypeName}}
  </div>
  <div class="p-mb-2">
    Descr: {{otherItemCockpit.itemTypeDescr}}
  </div>
  <div class="p-mb-2" *ngIf="otherItemCockpit.baseName">
    Base: {{otherItemCockpit.baseName}}
  </div>
  <div class="p-mb-2" *ngIf="otherItemCockpit.baseName">
    Type: {{otherItemCockpit.type}}
  </div>
  <div class="p-mb-2" *ngIf="otherItemCockpit.baseName">
    Friend: {{otherItemCockpit.friend}}
  </div>
</div>
