<!--<div *ngIf="userBackendInfo.humanPlayerId.userId; else elseBlock">Registered user-->
<table *ngIf="userBackendInfo" class="propertyTable">
  <tr *ngIf="userBackendInfo.humanPlayerId.userId">
    <td>User id</td>
    <td> {{userBackendInfo.humanPlayerId.userId}}</td>
  </tr>
  <tr *ngIf="userBackendInfo.humanPlayerId.userId">
    <td>Register date</td>
    <td> {{userBackendInfo.registerDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
  </tr>
  <tr *ngIf="userBackendInfo.humanPlayerId.userId">
    <td>Facebook id</td>
    <td> {{userBackendInfo.facebookId}}</td>
  </tr>
  <tr *ngIf="userBackendInfo.humanPlayerId.userId">
    <td>Name</td>
    <td> {{userBackendInfo.name}}</td>
  </tr>
  <!--</div>-->
  <!--<ng-template #elseBlock>Unregistered user</ng-template>-->
  <tr>
    <td>Player id</td>
    <td> {{userBackendInfo.humanPlayerId.playerId}}</td>
  </tr>
  <tr>
    <td>Level number</td>
    <td> {{userBackendInfo.levelNumber}} <input type="number" #levelBox min="0" step="1" style="width: 5em;">
      <button (click)="onSetNewLevel(levelBox.value)">Activate</button>
    </td>
  </tr>
  <tr>
    <td>XP</td>
    <td> {{userBackendInfo.xp}} <input type="number" #xpBox min="0" step="1" style="width: 5em;">
      <button (click)="onSetNewXp(xpBox.value)">Activate</button>
    </td>
  </tr>
  <tr>
    <td>Crystals</td>
    <td> {{userBackendInfo.crystals}} <input type="number" #crystalsBox min="0" step="1" style="width: 5em;">
      <button (click)="onSetNewCrystals(crystalsBox.value)">Activate</button>
    </td>
  </tr>
  <tr>
    <td>Active quest</td>
    <td>
      <div *ngIf="userBackendInfo.activeQuest">{{userBackendInfo.activeQuest.internalName}}
        ({{userBackendInfo.activeQuest.id}})
      </div>
    </td>
  </tr>
  <tr>
    <td>Completed quests</td>
    <td>
      <table class="normalTable">
        <tr *ngFor="let completedQuest of userBackendInfo.completedQuests">
          <td>
            {{completedQuest.internalName}} ({{completedQuest.id}})
          </td>
          <td>
            <button (click)="onRemoveCompletedQuest(completedQuest)">Remove</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>Unlocked</td>
    <td>
      <table class="normalTable">
        <tr *ngFor="let unlockedBackendInfo of userBackendInfo.unlockedBackendInfos">
          <td>
            {{unlockedBackendInfo.internalName}} ({{unlockedBackendInfo.id}})
          </td>
          <td>
            <button (click)="onRemoveUnlocked(unlockedBackendInfo)">Remove</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>Game history</td>
    <td>
      <table class="normalTable">
        <thead>
        <tr>
          <th>Deat</th>
          <th>Description</th>
        </tr>
        </thead>
        <tr *ngFor="let gameHistoryEntry of userBackendInfo.gameHistoryEntries">
          <td>{{gameHistoryEntry.date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td>{{gameHistoryEntry.description}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<button (click)="onUpdate()">Update</button>
