<div class="flexbox-parent">
  <div class="flexbox-current">
    <div class="flexbox-current-child simple-border">
      <h2>Online</h2>
      <online-component></online-component>
    </div>
    <div class="flexbox-current-child simple-border">
      <div>
        <button (click)="setView(enumAccess.SESSIONS)">Sessions</button>
        <button (click)="setView(enumAccess.NEW_USERS)">New users</button>
        <button (click)="setView(enumAccess.LOGIN_HISTORY)">Logins</button>
      </div>
      <session-history *ngIf="currentView==enumAccess.SESSIONS"></session-history>
      <new-user-history *ngIf="currentView==enumAccess.NEW_USERS"></new-user-history>
      <user-login-history *ngIf="currentView==enumAccess.LOGIN_HISTORY"></user-login-history>
    </div>
  </div>
  <div class="simple-border">
    <h2>Mgmt</h2>
    <ul>
      <li><a href="user">Users</a></li>
      <li><a routerLink="/backuprestore" routerLinkActive="active">Backup/Restore</a></li>
      <li><a routerLink="/itemhistory" routerLinkActive="active">Item history</a></li>
    </ul>
    <h2>Config</h2>
    <div>Planets</div>
    <div>Marketing</div>
  </div>
</div>
