<div class="flex flex-col gap-1" style="width: 30em">
  <div class="bg-surface-800 p-2 rounded-xl border border-surface-500">
    <p-scrollpanel #scrollPanel [style]="{ width: '100%', height: '10em' }">
      <div class="flex flex-col gap-1" #chatMessageDiv>
        <div *ngFor="let chatMessage of chatMessages" class="flex flex-col p-0 m-0" style="width: 28em">
          <p class="user-name">{{ chatMessage.userName }}</p>
          <div class="message">{{ chatMessage.message }}</div>
        </div>
      </div>
    </p-scrollpanel>
  </div>
  <div class="flex bg-surface-800 p-2 rounded-xl border border-surface-500 items-center bg-surface-100 gap-1">
    <input pInputText [(ngModel)]="messageToSend" class="w-full"/>
    <p-button
      class="rounded"
      label="Send"
      size="small"
      [disabled]="!messageToSend || messageToSend.trim().length === 0"
      (click)="onSend()">
    </p-button>
  </div>
</div>

<p-dialog header="You have no name" [(visible)]="showUnregisteredDialog">
  <div class="flex flex-col bg-surface-800 p-3 rounded-xl border border-surface-500 w-120 items-center justify-center gap-3">
    <p>
      You must be registered and have chosen a name before sending chat messages
    </p>
    <div class="flex gap-2 justify-center">
      <p-button
        *ngIf="userService.showRegisterButton()"
        class="rounded"
        label="Register"
        size="small"
        (click)="onRegisterClicked()">
      </p-button>
      <p-button
        *ngIf="showSetNameButton()"
        class="rounded"
        label="Set name"
        size="small"
        (click)="onSetNameClicked()">
      </p-button>
    </div>
  </div>
</p-dialog>
