<div [style]="{width:'400px'}">
  <div class="grid grid-razarion-editor">
    <span class="col-4">Id</span>
    <div class="col-8">
      <p-inputNumber [disabled]="true"
                     [(ngModel)]="drivewayConfig.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Internal name</span>
    <div class="col-8">
      <input [(ngModel)]="drivewayConfig.internalName"
             type="text"
             class="text-base text-color bg-primary-reverse p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4">Angle [°]</span>
    <div class="col-8">
      <p-inputNumber [ngModel]="drivewayConfig.angle | radToDegree"
                     (onInput)="angleChanged($event.value)"
                     [minFractionDigits]="1"
                     [maxFractionDigits]="6"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4 white-space-nowrap">Restart Planet warm</span>
    <div class="col-8">
      <p-button icon="pi pi-power-off" (onClick)="restartPlanetWarm()"></p-button>
    </div>
  </div>
  <div class="grid grid-razarion-editor">
    <span class="col-4 white-space-nowrap">Restart Planet cold</span>
    <div class="col-8">
      <p-button icon="pi pi-power-off" (onClick)="restartPlanetCold()"></p-button>
    </div>
  </div>
</div>
