<div style="width: 40em">
    <div class="grid grid-razarion-editor">
        <span class="col-4">Id</span>
        <div class="col-8">
            <p-inputNumber [disabled]="true" [(ngModel)]="baseItemType.id"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Internal name</span>
        <div class="col-8">
            <input [(ngModel)]="baseItemType.internalName" type="text"
                class="text-base text-color bg-primary-reverse p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>

    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-video"></i>
            <b>&nbsp;Visibility</b>
        </div>
    </p-divider>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Babylon model pack</span>
        <div class="col-8">
            <babylon-model-pack [(babylonModelPackId)]="baseItemType.threeJsModelPackConfigId"></babylon-model-pack>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Mesh container</span>
        <div class="col-8">
            <mesh-container [(meshContainerId)]="baseItemType.meshContainerId"></mesh-container>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Thumbnail</span>
        <div class="col-8">
            <image-item [(imageId)]="baseItemType.thumbnail"></image-item>
        </div>
    </div>

    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-car"></i>
            <b>&nbsp;Physical area / moving</b>
        </div>
    </p-divider>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Radius [m]</span>
        <div class="col-8">
            <p-inputNumber [(ngModel)]="baseItemType.physicalAreaConfig.radius" [minFractionDigits]="3"
                [maxFractionDigits]="3"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Fix vertical norm</span>
        <div class="col-8">
            <p-checkbox [(ngModel)]="baseItemType.physicalAreaConfig.fixVerticalNorm" [binary]="true"></p-checkbox>

        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Terrain type</span>
        <div class="col-8">
            <terrain-type [(terrainType)]="baseItemType.physicalAreaConfig.terrainType"></terrain-type>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Speed [km/h]</span>
        <div class="col-8">
            <velocity [(velocity)]="baseItemType.physicalAreaConfig.speed"></velocity>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Acceleration [s 0-100 km/h]</span>
        <div class="col-8">
            <acceleration [(acceleration)]="baseItemType.physicalAreaConfig.acceleration"></acceleration>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Angular velocity [&deg;/s]</span>
        <div class="col-8">
            <p-inputNumber [(ngModel)]="baseItemType.physicalAreaConfig.angularVelocity" [minFractionDigits]="2"
                [maxFractionDigits]="2"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Start angle slow down [&deg;]</span>
        <div class="col-8">
            <angle [(angle)]="baseItemType.physicalAreaConfig.startAngleSlowDown" [maxDegreeAngle]="180"></angle>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">End angle slow down [&deg;]</span>
        <div class="col-8">
            <angle [(angle)]="baseItemType.physicalAreaConfig.endAngleSlowDown" [maxDegreeAngle]="180"></angle>
        </div>
    </div>

    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-cog"></i>
            <b>&nbsp;Game engine</b>
        </div>
    </p-divider>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Price</span>
        <div class="col-8">
            <p-inputNumber [(ngModel)]="baseItemType.price"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Buildup</span>
        <div class="col-8">
            <p-inputNumber [(ngModel)]="baseItemType.buildup"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">XP on killed</span>
        <div class="col-8">
            <p-inputNumber [(ngModel)]="baseItemType.xpOnKilling"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-razarion-editor">
        <span class="col-4">Consuming house space</span>
        <div class="col-8">
            <p-inputNumber [(ngModel)]="baseItemType.consumingHouseSpace"></p-inputNumber>
        </div>
    </div>

    <p-divider align="left">
        <div class="inline-flex align-items-center">
            <i class="pi pi-th-large"></i>
            <b>&nbsp;Abilities</b>
        </div>
    </p-divider>
   <p-panel header="Builder" [toggleable]="true" [collapsed]="!baseItemType.builderType" collapseIcon="pi pi-trash"
        (collapsedChange)="onBuilderTypeChange(!$event)">
        <div *ngIf="baseItemType.builderType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Range [m]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.builderType.range" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Progress</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.builderType.progress" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Able to build</span>
                <div class="col-8">
                    <base-item-types [(baseItemTypeIds)]="baseItemType.builderType.ableToBuildIds"></base-item-types>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Particle system</span>
                <div class="col-8">
                    <particle-system
                        [(particleSystemId)]="baseItemType.builderType.particleSystemConfigId"></particle-system>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="Factory" [toggleable]="true" [collapsed]="!baseItemType.factoryType" collapseIcon="pi pi-trash"
        (collapsedChange)="onFactoryTypeChange(!$event)">
        <div *ngIf="baseItemType.factoryType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Progress</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.factoryType.progress" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Able to build</span>
                <div class="col-8">
                    <base-item-types [(baseItemTypeIds)]="baseItemType.factoryType.ableToBuildIds"></base-item-types>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="Harvester" [toggleable]="true" [collapsed]="!baseItemType.harvesterType" collapseIcon="pi pi-trash"
        (collapsedChange)="onHarvesterTypeChange(!$event)">
        <div *ngIf="baseItemType.harvesterType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Range [m]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.harvesterType.range" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Progress</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.harvesterType.progress" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Particle system</span>
                <div class="col-8">
                    <particle-system
                        [(particleSystemId)]="baseItemType.harvesterType.particleSystemConfigId"></particle-system>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="Weapon" [toggleable]="true" [collapsed]="!baseItemType.weaponType" collapseIcon="pi pi-trash"
        (collapsedChange)="onWeaponTypeChange(!$event)">
        <div *ngIf="baseItemType.weaponType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Range [m]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.weaponType.range" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Damge</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.weaponType.damage"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Detonation radius [m]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.weaponType.detonationRadius" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Reload time [s]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.weaponType.reloadTime" [minFractionDigits]="3"
                        [maxFractionDigits]="3"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Disallowed item types</span>
                <div class="col-8">
                    <base-item-types
                        [(baseItemTypeIds)]="baseItemType.weaponType.disallowedItemTypes"></base-item-types>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Projectile speed [km/h]</span>
                <div class="col-8">
                    <velocity [(velocity)]="baseItemType.weaponType.projectileSpeed"></velocity>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">MuzzleFlash particle system</span>
                <div class="col-8">
                    <particle-system
                        [(particleSystemId)]="baseItemType.weaponType.muzzleFlashParticleSystemConfigId"></particle-system>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="Generator" [toggleable]="true" [collapsed]="!baseItemType.generatorType" collapseIcon="pi pi-trash"
        (collapsedChange)="onGeneratorTypeChange(!$event)">
        <div *ngIf="baseItemType.generatorType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Wattage [w]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.generatorType.wattage"></p-inputNumber>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="Consumer" [toggleable]="true" [collapsed]="!baseItemType.consumerType" collapseIcon="pi pi-trash"
        (collapsedChange)="onConsumerTypeChange(!$event)">
        <div *ngIf="baseItemType.consumerType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Wattage [w]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.consumerType.wattage"></p-inputNumber>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="Item container" [toggleable]="true" [collapsed]="!baseItemType.itemContainerType"
        collapseIcon="pi pi-trash" (collapsedChange)="onItemContainerTypeChange(!$event)">
        <div *ngIf="baseItemType.itemContainerType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Range [m]</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.itemContainerType.range" [minFractionDigits]="2"
                        [maxFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Max count</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.itemContainerType.maxCount"></p-inputNumber>
                </div>
            </div>
            <div class="grid grid-razarion-editor">
                <span class="col-4">Able to contain</span>
                <div class="col-8">
                    <base-item-types
                        [(baseItemTypeIds)]="baseItemType.itemContainerType.ableToContain"></base-item-types>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="House" [toggleable]="true" [collapsed]="!baseItemType.houseType" collapseIcon="pi pi-trash"
        (collapsedChange)="onHouseTypeChange(!$event)">
        <div *ngIf="baseItemType.houseType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Space</span>
                <div class="col-8">
                    <p-inputNumber [(ngModel)]="baseItemType.houseType.space"></p-inputNumber>
                </div>
            </div>
        </div>
    </p-panel>

    <p-panel header="Special" [toggleable]="true" [collapsed]="!baseItemType.specialType" collapseIcon="pi pi-trash"
        (collapsedChange)="onSpecialTypeChange(!$event)">
        <div *ngIf="baseItemType.specialType">
            <div class="grid grid-razarion-editor">
                <span class="col-4">Mini terrain</span>
                <div class="col-8">
                    <p-checkbox [(ngModel)]="baseItemType.specialType.miniTerrain" [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </p-panel>
</div>