@if (itemCockpitService.ownItemCockpit; as ownItemCockpit) {
  <div class="flex flex-col gap-1">
    <div class="flex bg-surface-800 p-3 rounded-xl border border-surface-500">
      <div class="w-14 flex-none">
        <img src="{{ownItemCockpit.imageUrl}}" class="item-cockpit-image" alt="{{ownItemCockpit.itemTypeName}}">
      </div>
      <div class="grow">
        <div class="flex flex-col">
          <div [style]="{fontSize: 'larger', color: '#64B5F6'}">
            {{ ownItemCockpit.itemTypeName }}
          </div>
          <div>
            {{ ownItemCockpit.itemTypeDescr }}
          </div>
          <div>
            @if (itemCockpitService.count > 1) {
              <div>
                {{ itemCockpitService.count }}
              </div>
            }
          </div>
        </div>
      </div>
      @if (ownItemCockpit.canSell) {
        <div class="w-8 flex-none">
          <p-button label="$" [style]="{padding: '0.1rem 0.4rem'}" (onClick)="itemCockpitService.onSell()"></p-button>
        </div>
      }
    </div>
    @if (ownItemCockpit.buildupProgress != null) {
      <div class="flex flex-col gap-1 bg-surface-800 p-3 rounded-xl border border-surface-500">
        <div class="flex items-center gap-2">
          <i class="pi pi-wrench text-yellow-400" style="font-size: 0.9rem"></i>
          <span class="text-yellow-400 text-sm">Under Construction {{ ownItemCockpit.buildupProgress * 100 | number:'1.0-0' }}%</span>
        </div>
        <p-progressbar [value]="ownItemCockpit.buildupProgress * 100"
          [style]="{ height: '1rem' }" [showValue]="false" />
      </div>
    }
    @if (ownItemCockpit.buildupItems && ownItemCockpit.buildupProgress == null) {
      <div class="flex bg-surface-800 p-3 rounded-xl border border-surface-500">
        <p-popover #tipPopover [dismissable]="false">
          <div class="blinking-popover">
            <p>Click to build</p>
          </div>
        </p-popover>
        <p-carousel [value]="ownItemCockpit.buildupItems" [numVisible]="5" [numScroll]="5"
          styleClass="buildup-carousel">
          <ng-template pTemplate="item" let-buildupItem>
            <div class="flex flex-col bg-surface-600" [style]="{margin: '0 2px 0 2px'}">
              <div #buildupItemDiv [attr.data-item-type-id]="buildupItem.itemTypeId">
                <button class='item-cockpit-buildup-button'
                  (click)="onBuildClick(buildupItem)"
                  [title]="buildTooltip(buildupItem)"
                  [disabled]="!buildupItem.enabled">
                  @if (!buildupItem.enabled) {
                    <div class='item-cockpit-buildup-disabled'>
                    </div>
                  }
                  <img src="{{buildupItem.imageUrl}}"
                    style="position: absolute;top: 0; left: 0; width: 40px; height: 40px"
                    alt="buildupItem.imageUrl">
                    <span class="item-cockpit-buildup-limit-label">
                      {{ buildupItem.itemCount }}/{{ buildupItem.itemLimit }}
                    </span>
                  </button>
                </div>
                <div>
                  {{ buildupItem.price }}
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      }
      @if (ownItemCockpit.containerCount != null) {
        <div
          class="flex flex-row  items-center  gap-2 bg-surface-800 p-3 rounded-xl border border-surface-500">
          <span>{{ `Containing items: ${ownItemCockpit.containerCount}` }}</span>
          <p-button icon="pi pi-upload"
            label="Unload"
            size="small"
            (click)="onUnloadClick()"
          [disabled]="!ownItemCockpit.containerCount"></p-button>
        </div>
      }
    </div>
  }

  @if (itemCockpitService.ownMultipleItems; as ownMultipleItems) {
    <div class="flex flex-col bg-surface-800 p-3 rounded-xl border border-surface-500 gap-1">
      <p class="text-surface-300">Click to select units by type</p>
      <p-carousel [value]="ownMultipleItems" [numVisible]="5" [numScroll]="5"
        styleClass="multiple-item-carousel">
        <ng-template pTemplate="item" let-ownMultipleItem>
          <div class="flex flex-col" [style]="{margin: '0 2px 0 2px'}">
            <div class="flex">
              <button class="item-cockpit-multiple-button"
                (click)="itemCockpitService.keepOnlyOfType(ownMultipleItem.baseItemTypeId)"
                title="Select all of this type">
                <img src="{{ownMultipleItem.ownItemCockpit.imageUrl}}"
                  style="width: 40px; height: 40px"
                  alt="{{ownMultipleItem.ownItemCockpit.imageUrl}}">
                </button>
              </div>
              <div class="flex">
                {{ ownMultipleItem.count }}
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    }

    @if (itemCockpitService.otherItemCockpit; as otherItemCockpit) {
      <div class="flex flex-col">
        <div class="flex flex-col bg-surface-800 p-3 rounded-xl border border-surface-500 gap-1">
          <div style="font-size: 1.2rem" class="text-surface-300">
            <span>{{ otherItemCockpit.baseName }}</span>
            @if (isAdmin()) {
              <span>&nbsp;[{{ otherItemCockpit.baseId }}]</span>
            }
          </div>
          <div class="flex">
            <div class="w-14 flex-none">
              <img src="{{otherItemCockpit.imageUrl}}" class="item-cockpit-image" alt="{{otherItemCockpit.itemTypeName}}">
            </div>
            <div class="grow">
              <div class="flex flex-col">
                <div [style]="{fontSize: 'larger', color: '#64B5F6'}">
                  <span>{{ otherItemCockpit.itemTypeName }}</span>
                  @if (isAdmin()) {
                    <span>&nbsp;[{{ otherItemCockpit.id }}]</span>
                  }
                </div>
                <div class="text-surface-300">
                  {{ otherItemCockpit.itemTypeDescr }}
                </div>
              </div>
            </div>
          </div>
          @if (otherItemCockpit.resource) {
            <div class="text-blue-600">
              <p><i class="pi pi-sparkles" style="font-size: 0.8rem"></i>&nbsp;Collect this resource</p>
            </div>
          }
          @if (otherItemCockpit.box) {
            <div class="text-blue-600">
              <p><i class="pi pi-box" style="font-size: 0.8rem"></i>&nbsp;Pick up this box</p>
            </div>
          }
          @if (otherItemCockpit.friend && !otherItemCockpit.bot) {
            <div class="text-green-500">
              <p><i class="pi pi-verified" style="font-size: 0.8rem"></i>&nbsp;This is a friendly human player</p>
            </div>
          }
          @if (!otherItemCockpit.friend && otherItemCockpit.bot) {
            <div class="text-red-500">
              <p><i class="pi pi-exclamation-triangle" style="font-size: 0.8rem"></i>&nbsp;This is an enemy bot</p>
            </div>
          }
          @if (otherItemCockpit.friend && otherItemCockpit.bot) {
            <div class="text-green-500">
              <p><i class="pi pi-verified" style="font-size: 0.8rem"></i>&nbsp;This is an NPC</p>
            </div>
          }
          @if (!otherItemCockpit.friend && !otherItemCockpit.bot && !otherItemCockpit.resource && !otherItemCockpit.box) {
            <div
              class="text-red-500">
              <p><i class="pi pi-exclamation-triangle" style="font-size: 0.8rem"></i>&nbsp;This is an enemy human player</p>
            </div>
          }
        </div>
      </div>
    }
