:host {
  display: block;
  background-color: black;
}

.item-cockpit-image {
  border: 1px solid aqua;
  background-color: white;
  width: 50px;
  height: 50px;
}

//Remove the carousel paginator
:host ::ng-deep .buildup-carousel {
  .p-carousel-indicators {
    display: none !important;
  }
}

//Remove the carousel paginator
:host ::ng-deep .multiple-item-carousel {
  .p-carousel-indicators {
    display: none !important;
  }
}

.item-cockpit-buildup-button {
  position: relative;
  padding: 2px;
  cursor: pointer;
  z-index: 1;
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.item-cockpit-buildup-disabled {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
}

.item-cockpit-buildup-limit-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 80%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.item-cockpit-multiple-button {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background: white;
  cursor: pointer;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-popover {
  animation: blink 1s infinite;
}
