<div class="flex flex-column">
  <div class="mr-2">
    <p-card>
      <ng-template pTemplate="header">
        Render Engine
      </ng-template>
      <p-tree [value]="renderEngineDisplayTree"></p-tree>
    </p-card>
  </div>
  <div class="mr-2">
    <p-fileUpload chooseLabel="Import" name="myfile[]" [auto]=true [customUpload]=true
      (uploadHandler)="onImport($event)"></p-fileUpload>
  </div>
  <div class="mr-2">
    <p-card>
      <ng-template pTemplate="header">
        Selected
      </ng-template>
      <p-panel header="{{ selectedThreeJsType }}">
        {{ selectedThreeJsName }}
      </p-panel>
      <p-dropdown [placeholder]="'...'" [(ngModel)]="selectedThreeJsModel" [options]="threeJsModels">
      </p-dropdown>
      <ng-template pTemplate="footer">
        <p-button type="button" label="Upload" icon="pi pi-save" styleClass="p-button-sm"
          [disabled]="selectedThreeJsModel == null || selectedThreeJsType == null"
          (onClick)="onUpload()"></p-button>
      </ng-template>
    </p-card>
  </div>
  <div #threeJsScene></div>
</div>
