<div class="flex flex-column">
  <div class="mr-2">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-fileUpload chooseLabel="Import"
                      chooseIcon="pi pi-folder-open"
                      mode="basic"
                      styleClass="p-button-sm"
                      [auto]=true
                      [customUpload]=true
                      (uploadHandler)="onImport($event)">
        </p-fileUpload>
        <i>&nbsp;</i>
        <p-button label="Dump"
                  icon="pi pi-save"
                  styleClass="p-button-sm"
                  (onClick)="onDumpAll()"></p-button>
      </div>
    </p-toolbar>
  </div>
  <div class="mr-2">
    <p-panel header="Three.js properties">
      <div class="field grid">
        Three.js Revision
        <div class="col">
          {{threeJsRevision}}
        </div>
      </div>
    </p-panel>
  </div>
  <div class="mr-2">
    <p-panel header="Save Selected">
      <div class="field grid">
        <span class="col-fixed" style="width:100px">Name</span>
        <div *ngIf="selectedThreeJsName" style="border: 1px solid #304562;
                     background: #17212f;
                     border-radius: 3px;
                     padding: 0.5rem 0.5rem;
                     width: 10em;">
          {{selectedThreeJsName}}
        </div>
      </div>
      <div class="field grid">
        <label for="Export" class="col-fixed" style="width:100px">Material only</label>
        <div class="col">
          <p-checkbox id="Export" [(ngModel)]="exportMaterialOnly" [binary]="true"
                      [disabled]="selectedThreeJsObject == null || !selectedThreeJsObject.material"></p-checkbox>
        </div>
      </div>
      <div class="field grid">
        <label for="model" class="col-fixed" style="width:100px">Three.js Model</label>
        <div class="col">
          <p-dropdown id="model" [placeholder]="'...'" [(ngModel)]="selectedThreeJsModel" [options]="threeJsModels">
          </p-dropdown>
        </div>
      </div>
      <div class="field grid">
        <p-toolbar>

          <p-button type="button" label="Save" icon="pi pi-cloud-upload" styleClass="p-button-sm"
                    [disabled]="selectedThreeJsModel == null || selectedThreeJsObject == null"
                    (onClick)="onSaveSelected()"></p-button>
          <i>&nbsp;</i>
          <p-button type="button" label="Dump" icon="pi pi-save" styleClass="p-button-sm"
                    [disabled]="selectedThreeJsObject == null"
                    (onClick)="onDumpSelected()"></p-button>
        </p-toolbar>
      </div>
    </p-panel>
  </div>

  <div class="mr-2">
    <p-splitter layout="vertical">
      <ng-template pTemplate>
        <p-tree [value]="renderEngineDisplayTree" selectionMode="single" [(selection)]="treeSelection"
                (onNodeSelect)="onTreeSelectionChanged($event)" scrollHeight="200px">
        </p-tree>
      </ng-template>
      <ng-template pTemplate>
        <property-table [angular-tree-node-data]=gwtAngularPropertyTable></property-table>
      </ng-template>
    </p-splitter>
  </div>
</div>
