<div class="flex flex-column">
  <h3>Performance</h3>
  <div class="mr-2">
    <div #statsContainer></div>
  </div>
  <div class="mr-2">
    <perfmon #rendererPerfmon
             [stat1]="'FPS'"
             [stat1-max]=65
             [stat1-color]="'#ff8b25'"
             [perfmon-enum]="rendererPerfmonType"></perfmon>
  </div>
  <div class="mr-2">
    <perfmon #updatePerfmon
             [stat1]="'Update'"
             [stat1-max]=12
             [stat1-color]="'#25deff'"
             [perfmon-enum]="updatePerfmonType"></perfmon>
  </div>
  <div class="mr-2">
    <perfmon #gameEnginePerfmon
             [stat1]="'Game Engine'"
             [stat1-max]=12
             [stat1-color]="'#8b25ff'"
             [perfmon-enum]="gameEnginePerfmonType"></perfmon>
  </div>
  <div class="mr-2">
    <h3>Control</h3>
    <div class="field grid">
      <label for="renderInterpolation" class="col">Interpolation</label>
      <div class="col">
        <p-inputSwitch id="renderInterpolation"
                       [ngModel]="rendererEditorService.isRenderInterpolation()"
                       (ngModelChange)="rendererEditorService.setRenderInterpolation($event)"></p-inputSwitch>
      </div>
    </div>
    <div class="field grid">
      <label for="callGetError" class="col">Call GetError</label>
      <div class="col">
        <p-inputSwitch id="callGetError"
                       [ngModel]="rendererEditorService.isCallGetError()"
                       (ngModelChange)="rendererEditorService.setCallGetError($event)"></p-inputSwitch>
      </div>
    </div>
  </div>
  <div class="mr-2">
    <h3>Performance</h3>
    <div class="field grid">
      <label for="cameraXPosition" class="col">Camera X Position</label>
      <div class="col">
        <p-inputNumber id="cameraXPosition"
                       [ngModel]="rendererEditorService.getCameraXPosition()"
                       (onInput)="rendererEditorService.setCameraXPosition($event.value)"></p-inputNumber>
      </div>
    </div>
    <div class="field grid">
      <label for="cameraYPosition" class="col">Camera Y Position</label>
      <div class="col">
        <p-inputNumber id="cameraYPosition"
                       [ngModel]="rendererEditorService.getCameraYPosition()"
                       (onInput)="rendererEditorService.setCameraYPosition($event.value)"></p-inputNumber>
      </div>
    </div>
    <div class="field grid">
      <label for="cameraZPosition" class="col">Camera Z Position</label>
      <div class="col">
        <p-inputNumber id="cameraZPosition"
                       [ngModel]="rendererEditorService.getCameraZPosition()"
                       (onInput)="rendererEditorService.setCameraZPosition($event.value)"></p-inputNumber>
      </div>
    </div>
    <div class="field grid">
      <label for="cameraXRotation" class="col">Camera X Rotation</label>
      <div class="col">
        <p-inputNumber id="cameraXRotation"
                       [ngModel]="rendererEditorService.getCameraXRotation() | radToDegree"
                       (onInput)="rendererEditorService.setCameraXRotation(toRad($event.value))"></p-inputNumber>
      </div>
    </div>
    <div class="field grid">
      <label for="cameraZRotation" class="col">Camera Z Rotation</label>
      <div class="col">
        <p-inputNumber id="cameraZRotation"
                       [ngModel]="rendererEditorService.getCameraZRotation() | radToDegree"
                       (onInput)="rendererEditorService.setCameraZRotation(toRad($event.value))"></p-inputNumber>
      </div>
    </div>
    <div class="field grid">
      <label for="cameraOpeningAngleY" class="col">Camera Opening AngleY</label>
      <div class="col">
        <p-inputNumber id="cameraOpeningAngleY"
                       [ngModel]="rendererEditorService.getCameraOpeningAngleY() | radToDegree"
                       (onInput)="rendererEditorService.setCameraOpeningAngleY(toRad($event.value))"></p-inputNumber>
      </div>
    </div>
  </div>
  <div class="mr-2">
    <h3>Performance</h3>
    <div class="grid flex-column">
      <div class="col" *ngFor="let renderTaskRunnerControl of renderTaskRunnerControls">
        <p-checkbox label="{{renderTaskRunnerControl.getName()}}"
                    [binary]="true"
                    [ngModel]="renderTaskRunnerControl.isEnabled()"
                    (onChange)="renderTaskRunnerControl.setEnabled($event.checked)">
        </p-checkbox>
      </div>
    </div>
  </div>
</div>
