<div class="flex flex-col h-full bg-surface-900">
  <div class="flex items-center justify-between px-4 shadow bg-surface-600">
    <div class="text-xl font-semibold text-secondary-color">
      {{ editorModel.name }}
    </div>
    <p-button
      icon="pi pi-times"
      (onClick)="onClose()"
      styleClass="p-button-rounded p-button-danger p-button-text p-button-plain"
    ></p-button>
  </div>

  <!-- Inhaltsbereich -->
  <div class="flex-1 min-h-0 overflow-hidden">
    <ng-template #editorContainer></ng-template>
  </div>
</div>
