<div class="flex flex-col bg-surface-50 dark:bg-surface-800" [style]="{height:'100%'}">
  <div class="mb-0 flex" [style]="{backgroundColor: '#304562'}">
    <div class="p-ml-2" style="font-size: large">{{editorModel.name}}</div>
    <p-button icon="pi pi-times" (onClick)="onClose()" class="p-ml-auto"
              styleClass="p-button-rounded p-button-danger p-button-text p-button-plain"></p-button>
  </div>
  <div class="mb-0 items-stretch">
    <ng-template #editorContainer></ng-template>
  </div>
</div>
