<div class="flex overflow-hidden" style="height: 100%">
  <div style="width: 15em" class="flex flex-column surface-50">
    <p-menu [model]="menuItems"></p-menu>
  </div>
  <div #canvasDiv class="flex-grow-1 flex" style="width: 100%; height: 100%">
    <canvas #canvas style="width: 100%; height: 100%;background-color: #ffffff;cursor: var(--cursor)"></canvas>
  </div>
  <div style="width: 60em" class="flex flex-column surface-50">
    <div class="grid grid-razarion-editor">
      <span class="col-4">Planet Size</span>
      <div class="col-8">
        {{planetSize?.x | number: '3.2-2'}} : {{planetSize?.y | number: '3.2-2'}}
      </div>
    </div>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Cursor Terrain Position</span>
      <div class="col-8">
        {{controls.xPos | number: '3.2-2'}} : {{controls.yPos | number: '3.2-2'}}
      </div>
    </div>
    <p-divider align="left">
      <div class="inline-flex align-items-center">
        <i class="pi pi-save mr-2"></i>
        <b>Action</b>
      </div>
    </p-divider>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Save</span>
      <div class="col-8">
        <p-button icon="pi pi-save" (onClick)="save()"></p-button>
      </div>
    </div>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Restart Planet warm</span>
      <div class="col-8">
        <p-button icon="pi pi-power-off" (onClick)="restartPlanetWarm()"></p-button>
      </div>
    </div>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Restart Planet cold</span>
      <div class="col-8">
        <p-button icon="pi pi-power-off" (onClick)="restartPlanetCold()"></p-button>
      </div>
    </div>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Save mini map</span>
      <div class="col-8">
        <p-button icon="pi pi-globe" (onClick)="saveMiniMap()"></p-button>
        &nbsp;Canvas must be 1000px x 1000px
      </div>
    </div>

    <div *ngIf="terrainEditor?.mode === Mode.SLOPE_INCREASE
                || terrainEditor?.mode === Mode.SLOPE_DECREASE
                || terrainEditor?.mode === Mode.DRIVEWAY_INCREASE
                || terrainEditor?.mode === Mode.DRIVEWAY_DECREASE">
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-plus-circle mr-2"></i>
          <b>Cursor</b>
        </div>
      </p-divider>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Diameter</span>
        <div class="col-8">
          <div style="width: 20em">
            <input type="text" pInputText [(ngModel)]="controls.cursorDiameter" class="w-full"/>
            <p-slider [(ngModel)]="controls.cursorDiameter"
                      [min]="0.1"
                      [max]="100"
                      (onChange)="terrainEditor!.onCursorChanged()"></p-slider>
          </div>
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Corners</span>
        <div class="col-8">
          <div style="width: 20em">
            <input type="text" pInputText [(ngModel)]="controls.cursorCorners" class="w-full"/>
            <p-slider [(ngModel)]="controls.cursorCorners"
                      [min]="3"
                      [max]="100"
                      (onChange)="terrainEditor!.onCursorChanged()"></p-slider>
          </div>
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Angle [&deg;]</span>
        <div class="col-8">
          <div style="width: 20em">
            <input type="text" pInputText [(ngModel)]="controls.cursorAngleDegree" class="w-full"/>
            <p-slider [(ngModel)]="controls.cursorAngleDegree"
                      [min]="0"
                      [max]="360"
                      (onChange)="terrainEditor!.onCursorChanged()"></p-slider>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="terrainEditor?.mode === Mode.SELECT && controls.selectedSlope">
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-wrench mr-2"></i>
          <b>Selected slope</b>
        </div>
      </p-divider>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Id</span>
        <div class="col-8">
          {{controls.selectedSlope.terrainSlopePosition.id}}
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Parent Id</span>
        <div class="col-8">
          {{terrainEditor?.findParentSlope(controls.selectedSlope)?.terrainSlopePosition?.id}}
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Corners</span>
        <div class="col-8">
          {{controls.getCorners()}}
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Driveways</span>
        <div class="col-8">
          {{controls.getDriveways()}}
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Delete</span>
        <div class="col-8">
          <p-button icon="pi pi-trash" (onClick)="onDelete()"></p-button>
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Slope</span>
        <div class="col-8">
          <p-dropdown [options]="slopeConfigs"
                      [(ngModel)]="controls.selectedSlope!.terrainSlopePosition.slopeConfigId"
                      (onChange)="onChangeSlopeConfigId()">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div *ngIf="terrainEditor?.mode === Mode.SELECT && controls.selectedCorner">
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-wrench mr-2"></i>
          <b>Selected corner</b>
        </div>
      </p-divider>
      <div class="grid grid-razarion-editor">
        <span class="col-4">X</span>
        <div class="col-8">
          <p-inputNumber [(ngModel)]="controls.selectedCorner.x"
                         [prefix]="'x: '" [size]="8"
                         [minFractionDigits]="1" [maxFractionDigits]="3"
                         [incrementButtonClass]="'p-button-text'" [decrementButtonClass]="'p-button-text'"
                         [showButtons]="true"
                         (onInput)="controls.selectedCorner.x = $event.value"></p-inputNumber>
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Y</span>
        <div class="col-8">
          <p-inputNumber [(ngModel)]="controls.selectedCorner.y"
                         [prefix]="'x: '" [size]="8"
                         [minFractionDigits]="1" [maxFractionDigits]="3"
                         [incrementButtonClass]="'p-button-text'" [decrementButtonClass]="'p-button-text'"
                         [showButtons]="true"
                         (onInput)="controls.selectedCorner.y = $event.value"></p-inputNumber>
        </div>
      </div>
    </div>

    <div *ngIf="terrainEditor?.mode === Mode.SELECT && controls.selectedDriveway">
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-wrench mr-2"></i>
          <b>Selected driveway</b>
        </div>
      </p-divider>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Corners</span>
        <div class="col-8">
          {{controls.selectedDriveway.getCorners()}}
        </div>
      </div>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Driveway</span>
        <div class="col-8">
          <p-dropdown [options]="drivewayConfigs"
                      [(ngModel)]="controls.selectedDriveway!.drivewayConfigId"
                      (onChange)="onChangeSlopeConfigId()">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div *ngIf="terrainEditor?.mode === Mode.SLOPE_INCREASE || terrainEditor?.mode === Mode.SLOPE_DECREASE">
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-plus-circle mr-2"></i>
          <b>New</b>
        </div>
      </p-divider>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Slope</span>
        <div class="col-8">
          <p-dropdown [options]="slopeConfigs"
                      [(ngModel)]="controls.newSlopeConfigId">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div *ngIf="terrainEditor?.mode === Mode.DRIVEWAY_INCREASE || terrainEditor?.mode === Mode.DRIVEWAY_DECREASE">
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <i class="pi pi-plus-circle mr-2"></i>
          <b>New</b>
        </div>
      </p-divider>
      <div class="grid grid-razarion-editor">
        <span class="col-4">Driveway</span>
        <div class="col-8">
          <p-dropdown [options]="drivewayConfigs"
                      [(ngModel)]="controls.newDrivewayConfigId">
          </p-dropdown>
        </div>
      </div>
    </div>

  </div>
</div>
