.no-cookies-outer {
  margin-top: 100px;
}

.no-cookies {
  margin: auto;
  width: 400px;
  padding: 10px;
  text-align: center;
  border: 1px solid #3289bd5c;
  background-color: #025cff2e;
}

.no-cookies-title {
  padding-bottom: 10px;
  margin: auto;
  font-size: 20px;
  font-weight: bolder;
}

.no-cookies.text {
  font-size: 15px;
}
