<div class="flex flex-col gap-3">
  <div class="flex bg-surface-800 p-3 rounded-xl border border-surface-500 items-center gap-2">
    <i class="pi pi-gem text-xl"></i>
    <span class="text-lg">Crystals: {{ crystals }}</span>
  </div>

  <div class="flex flex-wrap gap-3 bg-surface-800 p-3 rounded-xl border border-surface-500">
    @for (levelUnlockConfig of levelUnlockConfigs; track levelUnlockConfig.id) {
      <div class="flex flex-col gap-2 p-3 bg-surface-700 rounded-lg border border-surface-600">
        <span class="font-semibold whitespace-nowrap text-center px-2 py-1 rounded-md border border-surface-500 bg-surface-900">
          {{ gwtAngularService.gwtAngularFacade.itemTypeService.getBaseItemTypeAngular(levelUnlockConfig?.baseItemType!).getName() }}
          +{{ levelUnlockConfig.baseItemTypeCount }}
        </span>
        <div class="flex items-center gap-3">
          <img class="w-20 h-20 object-contain rounded-md border border-surface-500 bg-white p-1 shrink-0"
               [src]="getThumbnailUrl(levelUnlockConfig)" alt="thumbnail"/>
          <div class="flex flex-col gap-2">
            <span class="inline-flex items-center gap-1 px-2 py-1 rounded-md bg-surface-900 font-semibold">
              <i class="pi pi-gem text-cyan-400"></i>
              Crystals {{ levelUnlockConfig.crystalCost }}
            </span>
            <p-button icon="pi pi-unlock" label="Unlock" size="small" (onClick)="onUse(levelUnlockConfig)"
                      [disabled]="crystals !== undefined && levelUnlockConfig.crystalCost > crystals"></p-button>
          </div>
        </div>
      </div>
    } @empty {
      <span class="text-surface-300 p-2">Nothing to unlock</span>
    }
  </div>
</div>
