<div style="width: 40em">
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Id</span>
        <div class="col-span-8">
            <p-inputNumber [disabled]="true" [(ngModel)]="inventoryItem.id"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Internal</span>
        <div class="col-span-8">
            <input [(ngModel)]="inventoryItem.internalName" type="text"
                class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Thumbnail</span>
        <div class="col-span-8">
            <image-item [(imageId)]="inventoryItem.imageId"></image-item>
        </div>
    </div>

    <p-divider align="left">
        <div class="inline-flex items-center gap-2">
            <i class="pi pi-shopping-cart"></i>
            <b>Cost to acquire</b>
        </div>
    </p-divider>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Crystal cost</span>
        <div class="col-span-8">
            <p-inputNumber [(ngModel)]="inventoryItem.crystalCost"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Artifact costs</span>
        <div class="col-span-8">
            @for (cost of inventoryItem.inventoryArtifactCosts; track $index) {
                <div class="flex gap-2 items-center mb-2">
                    <inventory-artifact [(inventoryArtifactId)]="cost.inventoryArtifactId"></inventory-artifact>
                    <p-inputNumber [(ngModel)]="cost.count"></p-inputNumber>
                    <p-button icon="pi pi-trash" (onClick)="removeArtifactCost($index)"></p-button>
                </div>
            }
            <p-button label="Add artifact cost" icon="pi pi-plus" (onClick)="addArtifactCost()"></p-button>
        </div>
    </div>
    @if (inventoryItem.inventoryArtifactCosts.length > 0) {
        <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
            <span class="col-span-4">Artifact crystal value</span>
            <div class="col-span-8 flex items-center gap-1">
                <i class="pi pi-gem text-cyan-400"></i>
                <span>{{ artifactCrystalCostTotal }}</span>
            </div>
        </div>
    }

    <p-divider align="left">
        <div class="inline-flex items-center gap-2">
            <i class="pi pi-gift"></i>
            <b>Grants when used</b>
        </div>
    </p-divider>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Base item</span>
        <div class="col-span-8">
            <base-item-type [(baseItemTypeId)]="inventoryItem.baseItemTypeId"></base-item-type>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Base item count</span>
        <div class="col-span-8">
            <p-inputNumber [(ngModel)]="inventoryItem.baseItemTypeCount"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Base item free range [m]</span>
        <div class="col-span-8">
            <p-inputNumber [(ngModel)]="inventoryItem.baseItemTypeFreeRange" [minFractionDigits]="3"
                [maxFractionDigits]="3"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-4">Razarion</span>
        <div class="col-span-8">
            <p-inputNumber [(ngModel)]="inventoryItem.razarion"></p-inputNumber>
        </div>
    </div>
</div>
