<h2>Session detail</h2>

<table>
  <tr>
    <td>Id:</td>
    <td>{{sessionDetail.id}}</td>
  </tr>
  <tr>
    <td>Time:</td>
    <td>{{sessionDetail.time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
  </tr>
  <tr>
    <td>Facebook Ad:</td>
    <td>{{sessionDetail.fbAdRazTrack}}</td>
  </tr>
  <tr>
    <td>User Agent:</td>
    <td>{{sessionDetail.userAgent}}</td>
  </tr>
  <tr>
    <td>Remote Addr:</td>
    <td>{{sessionDetail.remoteAddr}}</td>
  </tr>
  <tr>
    <td>Remote Host:</td>
    <td>{{sessionDetail.remoteHost}}</td>
  </tr>
</table>

<h3>Game sessions</h3>
<table>
  <tr *ngFor="let gameSessionDetail of sessionDetail.gameSessionDetails">
    <td>
      <hr>
      <table>
        <tr>
          <td>
            Date
          </td>
          <td>
            {{ gameSessionDetail.time | date:'dd.MM.yyyy HH:mm:ss'}}
          </td>
        </tr>
        <tr>
          <td>
            Game UUID
          </td>
          <td>
            {{ gameSessionDetail.id }}
          </td>
        </tr>
        <tr>
          <td>
            In Game Tracking
          </td>
          <td>
            <a *ngIf="gameSessionDetail.inGameTracking" target="_blank"
               [href]="'/faces/game.xhtml?gameSessionUuid=' + gameSessionDetail.id + '&sessionId=' + gameSessionDetail.sessionId">Open</a>
          </td>
        </tr>
        <tr>
          <td>
            Startup
          </td>
          <td>
            <table>
              <thead>
              <tr>
                <th>Client Timestamp</th>
                <th>Task</th>
                <th>Duration [s]</th>
                <th>Error</th>
              </tr>
              <tbody>
              <tr *ngFor="let startupTaskDetail of gameSessionDetail.startupTaskDetails">
                <td>{{ startupTaskDetail.clientStartTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{ startupTaskDetail.taskEnum }}</td>
                <td>{{ startupTaskDetail.duration / 1000}}</td>
                <td>{{ startupTaskDetail.error}}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr *ngIf="gameSessionDetail.startupTerminatedDetail">
          <td>
            Startup Termination
          </td>
          <td>
            {{ gameSessionDetail.startupTerminatedDetail.successful}} | {{
            gameSessionDetail.startupTerminatedDetail.timeStamp| date:'dd.MM.yyyy HH:mm:ss'}} | {{
            gameSessionDetail.startupTerminatedDetail.totalTime / 1000}}
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>

<h3>Pages</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Page</th>
    <th>Parameters</th>
    <th>URI</th>
  </tr>
  <tr *ngFor="let pageDetail of sessionDetail.pageDetails">
    <td>{{ pageDetail.time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
    <td>{{ pageDetail.page }}</td>
    <td>{{ pageDetail.parameters }}</td>
    <td>{{ pageDetail.uri }}</td>
  </tr>
</table>
