<div class="flex flex-col gap-1 bg-surface-800 p-3 bg-surface-100">
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Id</span>
    <div class="col-span-8">
      <p-inputNumber [disabled]="true" [(ngModel)]="particleSystemEntity.id"></p-inputNumber>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Internal name</span>
    <div class="col-span-8">
      <input [(ngModel)]="particleSystemEntity.internalName" type="text"
             class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Texture</span>
    <div class="col-span-8">
      <image-item [(imageId)]="particleSystemEntity.imageId"></image-item>
    </div>
  </div>

  <p-divider align="left">
    <div class="inline-flex items-center">
      <i class="pi pi-cloud-upload mr-2"></i>
      <b>&nbsp;Edit</b>
    </div>
  </p-divider>
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Stop all particle systems</span>
    <div class="col-span-8">
      <div class="flex gap-4">
        <p-button icon="pi pi-power-off"
                  (onClick)="onStopAllParticleSystems()"
                  size="small">
        </p-button>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Emitter identifier</span>
    <div class="col-span-8">
      <p-select [placeholder]="'...'"
                [options]="emitterIdentifierOptions"
                [(ngModel)]="emitterIdentifier"
                (onChange)="onScanEmitterIdentifier()"
                optionLabel="label"
                optionValue="identifier">
      </p-select>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Emitters found</span>
    <div class="col-span-8">
      <div class="flex gap-4">
        <span>{{ emittersFound.length }}</span>
        <p-button icon="pi pi-sync"
                  (onClick)="onScanEmitterIdentifier()"
                  size="small">
        </p-button>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Emitter selected</span>
    <div class="col-span-8">
      <div class="flex gap-4">
        <span>{{ selectedEmitter && (selectedEmitter!.name + ": " + (selectedEmitter!.parent && selectedEmitter!.parent!.name)) }}</span>
        <p-button icon="pi pi-sync"
                  (onClick)="onSelectEmitter()"
                  [disabled]="!emittersFound.length"
                  size="small">
        </p-button>
      </div>

    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <span class="col-span-4">Node particle editor</span>
    <div class="col-span-8">
      <p-button icon="pi pi-play-circle"
                [disabled]="!selectedEmitter"
                (onClick)="onNodeParticleEditor()"
                size="small">
      </p-button>
    </div>
  </div>
</div>
