<p-fileUpload
  chooseLabel="Upload"
  [auto]="true"
  [url]="getUploadUrl()"
  accept="image/*"
  name="images"
  (onUpload)="requestAllImages()"
  (onError)="onUploadError($event)">
</p-fileUpload>

<div style="max-height: 900px; overflow-y: auto;">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
    @for (imageGalleryItem of imageGalleryItems; track imageGalleryItem) {
      <div class="m-1 border border-solid border-gray-300">
        <image-gallery-item [image-gallery-item]="imageGalleryItem"></image-gallery-item>
        <div class="flex flex-row">
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"
            (onClick)="onDeleteImage(imageGalleryItem)">
          </p-button>
          <p-fileUpload class="mr-2"
            chooseIcon="pi pi-upload"
            chooseLabel=" "
            mode="basic"
            accept="image/*"
            name="images"
            styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"
            [auto]="true"
            [url]="getUpdateUrl(imageGalleryItem)"
            (onError)="onUpdateError($event)"
            (onUpload)="requestAllImages()">
          </p-fileUpload>
        </div>
      </div>
    }
  </div>
</div>
