<div class="inline-flex">
    <p-inputNumber [(ngModel)]="x" (onInput)="onX($event.value)" [prefix]="'x: '" [size]="'small'" [disabled]="readOnly"
        [minFractionDigits]="1" [maxFractionDigits]="6" [allowEmpty]="true"></p-inputNumber>
    <p-inputNumber [(ngModel)]="y" (onInput)="onY($event.value)" [prefix]="'y: '" [size]="'small'" [disabled]="readOnly"
        [minFractionDigits]="1" [maxFractionDigits]="6" [allowEmpty]="true"></p-inputNumber>
    <p-toggleButton [(ngModel)]="checkedEditMode" onIcon="pi pi-times" offIcon="pi pi-map-marker" (onChange)="onPick()"></p-toggleButton>
</div>
