<div [style]="{width:'500px'}">
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <div class="col-span-1">
            <p-button type="button" icon="pi pi-save" styleClass="p-button-sm" (onClick)="onSave()"></p-button>
        </div>
        <div class="col-span-3">
            <p-dropdown [options]="serverGameEngineConfig ? serverGameEngineConfig!.boxRegionConfigs:[]"
                [(ngModel)]="selectedBoxRegionConfig" optionLabel="internalName"></p-dropdown>
        </div>
        <div class="col-span-1">
            <p-button type="button" icon="pi pi-plus-circle" styleClass="p-button-sm" (onClick)="onCreate()"></p-button>
        </div>
        <div class="col-span-1">
            <p-button type="button" icon="pi pi-trash" styleClass="p-button-sm" (onClick)="onDelete()"
                [disabled]="!selectedBoxRegionConfig"></p-button>
        </div>
        <div class="col-span-6">
            <p-button type="button" label="{{EditorService.RESTART_BOX_REGIONS.name}}" icon="pi pi-cog"
                styleClass="p-button-sm"
                (onClick)="editorService.executeServerCommand(EditorService.RESTART_BOX_REGIONS)"></p-button>
        </div>
    </div>
    <p-divider align="left">
        <div class="inline-flex items-center">
            <i class="pi pi-cog mr-2"></i>
            <b>Configuration</b>
        </div>
    </p-divider>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Id</span>
        <div class="col-span-9">
            <p-inputNumber [disabled]="true" inputId="integeronly"
                [ngModel]="selectedBoxRegionConfig&&selectedBoxRegionConfig.id" (ngModelChange)="selectedBoxRegionConfig && (selectedBoxRegionConfig.id = $event)"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Internal name</span>
        <div class="col-span-9">
            <input [ngModel]="selectedBoxRegionConfig&&selectedBoxRegionConfig.internalName" (ngModelChange)="selectedBoxRegionConfig && (selectedBoxRegionConfig.internalName = $event)" type="text"
                class="text-base text-color text-primary bg-primary-contrast p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full">
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Count</span>
        <div class="col-span-9">
            <p-inputNumber inputId="integeronly"
                [ngModel]="selectedBoxRegionConfig&&selectedBoxRegionConfig.count" (ngModelChange)="selectedBoxRegionConfig && (selectedBoxRegionConfig.count = $event)"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Min distance to items [m]</span>
        <div class="col-span-9">
            <p-inputNumber [ngModel]="selectedBoxRegionConfig&&selectedBoxRegionConfig.minDistanceToItems" (ngModelChange)="selectedBoxRegionConfig && (selectedBoxRegionConfig.minDistanceToItems = $event)"
                [maxFractionDigits]="3"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Box item type</span>
        <div class="col-span-9">
            <box-item-type *ngIf="selectedBoxRegionConfig"
                [(boxItemTypeId)]="selectedBoxRegionConfig.boxItemTypeId"></box-item-type>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Region</span>
        <div class="col-span-9">
            <place-config *ngIf="selectedBoxRegionConfig"
                [(placeConfig)]="selectedBoxRegionConfig.region"></place-config>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Min interval [s]</span>
        <div class="col-span-9">
            <p-inputNumber inputId="integeronly"
                [ngModel]="selectedBoxRegionConfig&&selectedBoxRegionConfig.minInterval" (ngModelChange)="selectedBoxRegionConfig && (selectedBoxRegionConfig.minInterval = $event)"></p-inputNumber>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 grid-razarion-editor">
        <span class="col-span-3">Max interval [s]</span>
        <div class="col-span-9">
            <p-inputNumber inputId="integeronly"
                [ngModel]="selectedBoxRegionConfig&&selectedBoxRegionConfig.maxInterval" (ngModelChange)="selectedBoxRegionConfig && (selectedBoxRegionConfig.maxInterval = $event)"></p-inputNumber>
        </div>
    </div>
</div>