<div class="flex flex-col gap-1 justify-center items-center min-h-screen w-full max-w-md mx-auto">
    <div class="flex bg-surface-800 p-3 rounded-xl border border-surface-500 items-center bg-surface-100 w-full">
        Token expired. Please log in again.
    </div>
    <div class="flex bg-surface-800 p-3 rounded-xl border border-surface-500 items-center bg-surface-100 w-full">
        <login></login>
    </div>
    <div class="flex bg-surface-800 p-3 rounded-xl border border-surface-500 items-center bg-surface-100 w-full">
        <p-button type="button" label="Sign Out & Play as Guest" styleClass="p-button-sm"
                  (onClick)="signOutAndPlayGuast()"></p-button>
    </div>
</div>
