<h2>Available</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Clicks</th>
        <th>Spent</th>
        <th>Impressions</th>
        <th>Start</th>
        <th>End</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let campaign of campaigns">
        <td>{{campaign.title}}</td>
        <td>{{campaign.body}}</td>
        <td>{{campaign.clicks}}</td>
        <td>{{campaign.spent}}</td>
        <td>{{campaign.impressions}}</td>
        <td>{{campaign.dateStart | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td>{{campaign.dateStop | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td><input type="checkbox" (click)="selectionChanged($event, campaign);"></td>
    </tr>
</table>

<h2>Selected</h2>
<table>
    <tr *ngFor="let campaign of selected">
        <td><campaign-detail [campaign]="campaign"></campaign-detail></td>
    </tr>
</table>

