<div class="homePageMain">
  <div class="homePageMiddle">

    <div class="homePageMiddleCenter">
      <div class="info">
        <ul>
          <li>
            <h2>ECHTZEIT ACTION STRATEGIE</h2>
            <p>Befehlige ein riesiges Arsenal von Einheiten und Gebäuden. Erlebe actiongeladene Schlachten komplett in Echtzeit.</p>
          </li>
          <li>
            <h2>RIESIGE MULTISPIELER KARTEN</h2>
            <p>Spiele gegen andere Spieler oder verbünde Dich mit Ihnen und bestehe hunderte von Aufgaben auf verschiedenen Planeten.</p>
          </li>
          <li>
            <h2>ERHALTE ERFAHRUNGSPUNKTE UND STEIGERE DEINEN LEVEL</h2>
            <p>Schalte stärkere Einheiten frei, sammle Beute und setze in der Werkstatt einzigartige Waffen zusammen.</p>
          </li>
        </ul>
      </div>
      <div class="login">

        <table>
          <tr>
            <td colspan="3">
              <a [routerLink]="['/register']">Registrieren</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div *ngIf="loginError" class="loginError">{{loginError}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <label for="emailField">E-Mail Adresse</label>
            </td>
            <td>
              <label for="passwordField">Passwort</label>
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="email" type="email" id="emailField">
            </td>
            <td>
              <input [(ngModel)]="password" type="password" id="passwordField">
            </td>
            <td>
              <button (click)="onLogin()" class="homePageButton">Anmelden</button>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input [(ngModel)]="rememberMe" type="checkbox" id="rememberMeCheckbox"><label for="rememberMeCheckbox">Angemeldet bleiben</label>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <a [routerLink]="['/reset-password']">Passwort vergessen</a>
            </td>
          </tr>
        </table>
      </div>

      <a [routerLink]="['/game']" class="play_btn">
        <div>
          <p class="big">Spielen</p>
          <p class="small">Ohne Registrierung</p>
        </div>
      </a>

    </div>
  </div>
</div>
