.info {
  left: -25px;
  top: -45px;
  width: 290px;
  height: 370px;
  position: absolute;
  border: 8px solid transparent;
  background-image: url('/images/DialogBackground.png');
  border-image-source: url('/images/Border.png');
  border-image-slice: 8;
  border-image-repeat: repeat;
  box-shadow: 3px 3px 15px 1px #000;
}

.info ul {
  padding-left: 0;
}

.info ul li {
  background: url('/assets/li.png') no-repeat left top;
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0 0 0 24px;
}

.info h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #CCC;
  margin: 0 0 2px 0;
  font-size: 17px;
}

.info p {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #CCC;
  font-size: 15px;
  margin: 0;
}

.login {
  left: -25px;
  top: 370px;
  position: absolute;
  border: 8px solid transparent;
  background-image: url('/images/DialogBackground.png');
  border-image-source: url('/images/Border.png');
  border-image-slice: 8;
  border-image-repeat: repeat;
  box-shadow: 3px 3px 15px 1px #000;
}

.login label {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #CCC;
  font-size: 12px;
  margin: 0;
}

.login input[type="email"], .login input[type="password"] {
  width: 9em;
}

.login a {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #a697de;
  font-size: 12px;
}

.login:hover a:hover {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0300;
  font-size: 12px;
}

.loginError {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0300;
  font-size: 15px;
}

.play_btn {
  top: 44px;
  left: 416px;
  width: 292px;
  height: 74px;
  position: absolute;
  background: url('/assets/StartButton.png') center no-repeat;
  text-decoration: none;
}

.play_btn div {
  padding-top: 13px;
  text-align: center;
  font-weight: bold;
  font-family: Arial,Helvetica,sans-serif;
  color: rgb(243, 247, 248);
  font-size: 23px;
  text-shadow: -1px -1px 2px rgba(0,0,0,0.8);
  text-transform: uppercase;
}

.play_btn .big {
  font-size: 23px;
  margin: 0;
}

.play_btn .small {
  font-size: 12px;
  margin: 0;
}

.play_btn:hover .big:hover {
  padding-top: 1px;
  font-size: 25px;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8);
}

.play_btn:hover .small:hover {
  padding-top: 1px;
  font-size: 12px;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.8);
}

