html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Deaktiviert Scrollen */
}

.main {
    display: table;
    height: 100%;
    width: 100%;
    background: url('/BackGround.jpg');
    margin: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    background: url('/HomePage.jpg') center no-repeat;
}

.middleCenter {
    width: 1000px;
    height: 400px;
    margin: auto;
    position: relative;
}

.info {
    color: #cfcdce;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #767477;
    background-color: black;
    box-shadow: 3px 3px 15px 1px #000;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: x-large;
}

.text {
    padding-top: 15px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 119, 85, 0.7);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 10px 10px rgba(255, 119, 85, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 119, 85, 0);
    }
}

.button {
    all: unset;
    cursor: pointer;
    background: linear-gradient(180deg, #ff7755 0%, #aa4411 100%);
    border: 1px solid #931;
    padding: 10px 25px;
    color: white;
    font-size: larger;
    font-weight: 900;
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;
    max-width: 150px;
    text-align: center;
    border-radius: 4px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: pulse 2s infinite;
}

.button:hover {
    transform: scale(2.2);
    box-shadow: 0 0 10px #ff7755;
}

a {
    color: #ff7755;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ffaa88;
    text-decoration: underline;
}

