<div class="flex overflow-hidden" style="height: 100%">
  <div #canvasDiv class="flex-grow-1 flex" style="width: 100%; height: 100%">
    <canvas #canvas style="width: 100%; height: 100%;background-color: #ffffff"></canvas>
  </div>
  <div style="width: 60em" class="flex flex-column surface-50">
    <div class="grid grid-razarion-editor">
      <span class="col-4">Cursor Terrain Position</span>
      <div class="col-8">
        {{controls.xPos | number: '3.2-2'}} : {{controls.yPos | number: '3.2-2'}}
      </div>
    </div>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Save</span>
      <div class="col-8">
        <p-button icon="pi pi-save" (onClick)="save()"></p-button>
      </div>
    </div>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Restart Planet warm</span>
      <div class="col-8">
        <p-button icon="pi pi-power-off" (onClick)="restartPlanetWarm()"></p-button>
      </div>
    </div>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Restart Planet cold</span>
      <div class="col-8">
        <p-button icon="pi pi-power-off" (onClick)="restartPlanetCold()"></p-button>
      </div>
    </div>
    <p-divider align="left">
      <div class="inline-flex align-items-center">
        <i class="pi pi-plus-circle mr-2"></i>
        <b>New</b>
      </div>
    </p-divider>
    <div class="grid grid-razarion-editor">
      <span class="col-4">Slope</span>
      <div class="col-8">
        <p-dropdown [options]="slopeConfigs"
                    [(ngModel)]="controls.newSlopeConfigId">
        </p-dropdown>
      </div>
    </div>

  </div>
</div>
